# Import Data (csv file)

In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm
import time
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

df = pd.read_csv("craigslistVehiclesFull.csv", encoding='latin-1')

C:\Users\danie\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (2,3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# Inspect Data

In [2]:
df.head()

,url,city,price,year,manufacturer,make,condition,cylinders,fuel,odometer,title_status,transmission,vin,drive,size,type,paint_color,image_url,lat,long,county_fips,county_name,state_fips,state_code,state_name,weather
0,https://marshall.craigslist.org/cto/d/2010-dod...,marshall,11900,2010,dodge,challenger se,good,6 cylinders,gas,43600.0,clean,automatic,NaN,rwd,NaN,coupe,red,https://images.craigslist.org/00i0i_2ggH1eKDNK...,43.4775,-96.7041,46083.0,Lincoln,46.0,SD,South Dakota,38.0
1,https://marshall.craigslist.org/cto/d/fleetwoo...,marshall,1515,1999,NaN,fleetwood,NaN,NaN,gas,NaN,clean,other,NaN,NaN,NaN,NaN,NaN,https://images.craigslist.org/00M0M_irjh7SjEcU...,44.7612,-96.6907,46039.0,Deuel,46.0,SD,South Dakota,38.0
2,https://marshall.craigslist.org/cto/d/2008-for...,marshall,17550,2008,ford,f-150,NaN,NaN,gas,NaN,clean,automatic,NaN,NaN,NaN,NaN,NaN,https://images.craigslist.org/00s0s_eL2XFhEUcx...,44.1415,-103.2052,46093.0,Meade,46.0,SD,South Dakota,38.0
3,https://marshall.craigslist.org/cto/d/ford-tau...,marshall,2800,2004,ford,taurus,good,6 cylinders,gas,168591.0,clean,automatic,1FAFP55UO4G113464,fwd,full-size,sedan,grey,https://images.craigslist.org/00L0L_5HUR1nQjt8...,43.2845,-95.5930,19143.0,Osceola,19.0,IA,Iowa,47.0
4,https://marshall.craigslist.org/cto/d/2001-gra...,marshall,400,2001,NaN,2001 Grand Prix,NaN,NaN,gas,217000.0,clean,automatic,NaN,NaN,NaN,NaN,NaN,https://images.craigslist.org/00n0n_bJJ1XnonSG...,43.0261,-94.4064,19109.0,Kossuth,19.0,IA,Iowa,47.0

In [3]:
df.tail()

,url,city,price,year,manufacturer,make,condition,cylinders,fuel,odometer,title_status,transmission,vin,drive,size,type,paint_color,image_url,lat,long,county_fips,county_name,state_fips,state_code,state_name,weather
1049195,https://topeka.craigslist.org/ctd/d/2006-chevr...,topeka,7995,2006,chevrolet,silverado 2500 hd crew,NaN,NaN,gas,NaN,clean,automatic,1GCHC23U06F138406,NaN,NaN,NaN,NaN,https://images.craigslist.org/00A0A_l1r21OrSdJ...,38.6419,-94.3285,29037.0,Cass/Van Buren,29.0,MO,Missouri,52.0
1049196,https://westky.craigslist.org/cto/d/2008-acura...,westky,10900,2008,acura,tl,NaN,NaN,gas,NaN,clean,automatic,NaN,NaN,NaN,NaN,NaN,https://images.craigslist.org/00606_hGCTgk1rVL...,37.3879,-89.6519,29031.0,Cape Girardeau,29.0,MO,Missouri,52.0
1049197,https://jacksonville.craigslist.org/cto/d/dump...,jacksonville,40000,2006,ford,sterling,excellent,other,diesel,350000.0,clean,manual,NaN,NaN,full-size,truck,red,https://images.craigslist.org/00f0f_gohYgKDsQZ...,38.7071,-90.3055,29189.0,St. Louis,29.0,MO,Missouri,52.0
1049198,https://quadcities.craigslist.org/ctd/d/sweet-...,quadcities,6995,2007,ram,1500,NaN,NaN,gas,197936.0,clean,manual,1D7HU18227S220778,NaN,NaN,NaN,NaN,https://images.craigslist.org/00k0k_6qBvHCzjn2...,38.9482,-90.9138,29113.0,Lincoln,29.0,MO,Missouri,52.0
1049199,https://quadcities.craigslist.org/cto/d/04-gmc...,quadcities,12345,2004,gmc,canyon yz450,NaN,5 cylinders,gas,NaN,clean,automatic,NaN,NaN,NaN,NaN,NaN,https://images.craigslist.org/00y0y_g0Nj6JXaie...,40.4619,-92.1851,29199.0,Scotland,29.0,MO,Missouri,52.0

In [4]:
df.columns

Index(['url', 'city', 'price', 'year', 'manufacturer', 'make', 'condition',
       'cylinders', 'fuel', 'odometer', 'title_status', 'transmission', 'vin',
       'drive', 'size', 'type', 'paint_color', 'image_url', 'lat', 'long',
       'county_fips', 'county_name', 'state_fips', 'state_code', 'state_name',
       'weather'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1049200 entries, 0 to 1049199
Data columns (total 26 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   url           1049199 non-null  object
 1   city          1048559 non-null  object
 2   price         1048535 non-null  object
 3   year          1047014 non-null  object
 4   manufacturer  964568 non-null   object
 5   make          1005318 non-null  object
 6   condition     615062 non-null   object
 7   cylinders     621193 non-null   object
 8   fuel          1042054 non-null  object
 9   odometer      705601 non-null   float64
 10  title_status  1046971 non-null  object
 11  transmission  1042699 non-null  object
 12  vin           367156 non-null   object
 13  drive         645697 non-null   object
 14  size          358029 non-null   object
 15  type          614919 non-null   object
 16  paint_color   617962 non-null   object
 17  image_url     1048519 non-null  object
 18  lat           1048519 non-null  float64
 19  long          1048519 non-null  float64
 20  county_fips   990178 non-null   float64
 21  county_name   990178 non-null   object
 22  state_fips    990178 non-null   float64
 23  state_code    990178 non-null   object
 24  state_name    1048519 non-null  object
 25  weather       989582 non-null   float64
dtypes: float64(6), object(20)
memory usage: 208.1+ MB

In [6]:
df.describe()

,odometer,lat,long,county_fips,state_fips,weather
count,7.056010e+05,1.048519e+06,1.048519e+06,990178.000000,990178.000000,989582.000000
mean,1.138255e+05,3.967305e+01,-9.609864e+01,24775.443619,24.704956,53.022543
std,1.316380e+05,5.692429e+00,1.860790e+01,15579.137290,15.569437,7.605096
min,0.000000e+00,-8.481005e+01,-1.000000e+03,1001.000000,1.000000,29.000000
25%,5.800000e+04,3.551126e+01,-1.171445e+02,8005.000000,8.000000,48.000000
50%,1.070260e+05,3.990460e+01,-9.041660e+01,26055.000000,26.000000,52.000000
75%,1.530000e+05,4.267304e+01,-8.154935e+01,39151.000000,39.000000,59.000000
max,1.000000e+07,9.000000e+01,1.397061e+02,56045.000000,56.000000,79.000000

In [7]:
df.drop_duplicates(inplace=True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1048636 entries, 0 to 1049199
Data columns (total 26 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   url           1048635 non-null  object
 1   city          1048559 non-null  object
 2   price         1048535 non-null  object
 3   year          1047014 non-null  object
 4   manufacturer  964568 non-null   object
 5   make          1005318 non-null  object
 6   condition     615062 non-null   object
 7   cylinders     621193 non-null   object
 8   fuel          1042054 non-null  object
 9   odometer      705601 non-null   float64
 10  title_status  1046971 non-null  object
 11  transmission  1042699 non-null  object
 12  vin           367156 non-null   object
 13  drive         645697 non-null   object
 14  size          358029 non-null   object
 15  type          614919 non-null   object
 16  paint_color   617962 non-null   object
 17  image_url     1048519 non-null  object
 18  lat           1048519 non-null  float64
 19  long          1048519 non-null  float64
 20  county_fips   990178 non-null   float64
 21  county_name   990178 non-null   object
 22  state_fips    990178 non-null   float64
 23  state_code    990178 non-null   object
 24  state_name    1048519 non-null  object
 25  weather       989582 non-null   float64
dtypes: float64(6), object(20)
memory usage: 216.0+ MB

In [9]:
df.describe()

,odometer,lat,long,county_fips,state_fips,weather
count,7.056010e+05,1.048519e+06,1.048519e+06,990178.000000,990178.000000,989582.000000
mean,1.138255e+05,3.967305e+01,-9.609864e+01,24775.443619,24.704956,53.022543
std,1.316380e+05,5.692429e+00,1.860790e+01,15579.137290,15.569437,7.605096
min,0.000000e+00,-8.481005e+01,-1.000000e+03,1001.000000,1.000000,29.000000
25%,5.800000e+04,3.551126e+01,-1.171445e+02,8005.000000,8.000000,48.000000
50%,1.070260e+05,3.990460e+01,-9.041660e+01,26055.000000,26.000000,52.000000
75%,1.530000e+05,4.267304e+01,-8.154935e+01,39151.000000,39.000000,59.000000
max,1.000000e+07,9.000000e+01,1.397061e+02,56045.000000,56.000000,79.000000

There seem too many NaN in the data set.  So let's figure out how much NaN
occupies in individual columns.

In [10]:
((df.isnull().sum()/len(df)).sort_values(ascending = False)*100).astype(float)

size            65.857647
vin             64.987279
type            41.360110
condition       41.346473
paint_color     41.069923
cylinders       40.761809
drive           38.425059
odometer        32.712495
manufacturer     8.016891
weather          5.631506
county_fips      5.574670
county_name      5.574670
state_fips       5.574670
state_code       5.574670
make             4.130890
fuel             0.627673
transmission     0.566164
title_status     0.158778
year             0.154677
image_url        0.011157
lat              0.011157
long             0.011157
state_name       0.011157
price            0.009632
city             0.007343
url              0.000095
dtype: float64

Let's drop rows with 'price' whose value is null.

In [11]:
df.drop(df[df['price'].isnull()].index, inplace=True)

In [12]:
((df.isnull().sum()/len(df)).sort_values(ascending = False)*100).astype(float)

size            65.854359
vin             64.983906
type            41.354461
condition       41.340823
paint_color     41.064247
cylinders       40.756103
drive           38.419128
odometer        32.706014
manufacturer     8.008030
weather          5.622416
county_fips      5.565575
county_name      5.565575
state_fips       5.565575
state_code       5.565575
make             4.121655
fuel             0.618100
transmission     0.556586
title_status     0.149160
year             0.145060
image_url        0.001526
lat              0.001526
long             0.001526
state_name       0.001526
price            0.000000
city             0.000000
url              0.000000
dtype: float64

Let's drop rows with 'lat' whose value is null because null value of either 'lat' or 'long' cannot give you correlatable geographical information.

In [13]:
df.drop(df[df['lat'].isnull()].index, inplace=True)

In [14]:
((df.isnull().sum()/len(df)).sort_values(ascending = False)*100).astype(float)

size            65.853838
vin             64.983372
type            41.353566
condition       41.340023
paint_color     41.063347
cylinders       40.755199
drive           38.418188
odometer        32.704987
manufacturer     8.006913
weather          5.620976
county_fips      5.564134
county_name      5.564134
state_fips       5.564134
state_code       5.564134
make             4.120383
fuel             0.616584
transmission     0.555069
title_status     0.147637
year             0.143917
image_url        0.000000
lat              0.000000
long             0.000000
state_name       0.000000
price            0.000000
city             0.000000
url              0.000000
dtype: float64

Let's look into rows whose 'year' is null.

In [15]:
df[df['year'].isnull()]

,url,city,price,year,manufacturer,make,condition,cylinders,fuel,odometer,title_status,transmission,vin,drive,size,type,paint_color,image_url,lat,long,county_fips,county_name,state_fips,state_code,state_name,weather
1652,https://galveston.craigslist.org/cto/d/2014-ni...,galveston,2900,NaN,NaN,soacrizcd,NaN,NaN,gas,NaN,clean,automatic,NaN,NaN,NaN,NaN,NaN,https://images.craigslist.org/00M0M_jkpAqq0f3A...,29.395588,-94.936825,48167.0,Galveston,48.0,TX,Texas,67.0
7092,https://saltlakecity.craigslist.org/cto/d/2014...,saltlakecity,2900,NaN,NaN,pcrqno,NaN,NaN,gas,NaN,clean,automatic,NaN,NaN,NaN,NaN,NaN,https://images.craigslist.org/00j0j_kNH7SuxV2u...,42.712053,-111.620163,16029.0,Caribou,16.0,ID,Idaho,47.0
8555,https://memphis.craigslist.org/ctd/d/2018-toyo...,memphis,21842,NaN,NaN,a Camry,NaN,4 cylinders,gas,11312.0,clean,automatic,JTNB11HK6J3001862,fwd,NaN,sedan,white,https://images.craigslist.org/00i0i_cMyXBfkKdq...,35.186081,-89.794496,47157.0,Shelby,47.0,TN,Tennessee,59.0
8641,https://memphis.craigslist.org/ctd/d/2018-toyo...,memphis,21980,NaN,NaN,a RAV4,NaN,4 cylinders,gas,40810.0,clean,automatic,2T3WFREV4JW405860,fwd,NaN,SUV,grey,https://images.craigslist.org/00H0H_jegqUW8uIS...,35.186081,-89.794496,47157.0,Shelby,47.0,TN,Tennessee,59.0
12831,https://elko.craigslist.org/ctd/d/2018-nissan-...,elko,60900,NaN,NaN,n Titan XD,NaN,8 cylinders,diesel,354.0,clean,automatic,1N6BA1F46JN521781,4wd,NaN,pickup,black,https://images.craigslist.org/01313_a9b4VDVItM...,40.362248,-111.785947,49049.0,Utah,49.0,UT,Utah,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
987780,https://minneapolis.craigslist.org/hnp/ctd/d/2...,minneapolis,29498,NaN,NaN,Clarity Plug-In Hybrid,NaN,4 cylinders,gas,2698.0,clean,automatic,JHMZC5F14JC008709,fwd,NaN,sedan,white,https://images.craigslist.org/00S0S_8Pp7R5N00D...,44.863287,-93.285342,27053.0,Hennepin,27.0,MN,Minnesota,43.0
994185,https://myrtlebeach.craigslist.org/cto/d/impal...,myrtlebeach,2900,NaN,NaN,ymmefqxhn,NaN,NaN,gas,NaN,clean,automatic,NaN,NaN,NaN,NaN,NaN,https://images.craigslist.org/00B0B_icXTx8yDAK...,33.803125,-78.837776,45051.0,Horry,45.0,SC,South Carolina,60.0
997789,https://asheville.craigslist.org/cto/d/2010-fo...,asheville,12500,NaN,ford,f150,excellent,8 cylinders,gas,99000.0,rebuilt,automatic,NaN,rwd,NaN,pickup,red,https://images.craigslist.org/00H0H_hLRfMrTPKO...,34.776458,-82.391206,45045.0,Greenville,45.0,SC,South Carolina,60.0
997790,https://asheville.craigslist.org/cto/d/2008-fo...,asheville,8300,NaN,ford,ranger xlt,NaN,6 cylinders,gas,121455.0,clean,automatic,NaN,4wd,mid-size,truck,white,https://images.craigslist.org/00r0r_6FYgE8j05R...,34.757900,-82.044700,45083.0,Spartanburg,45.0,SC,South Carolina,60.0
1009673,https://columbia.craigslist.org/cto/d/2009-hon...,columbia,2900,NaN,NaN,sjphygdhbtq,NaN,NaN,gas,NaN,clean,automatic,NaN,NaN,NaN,NaN,NaN,https://images.craigslist.org/00B0B_icXTx8yDAK...,33.996344,-81.100412,45063.0,Lexington,45.0,SC,South Carolina,60.0

Drop rows whose 'year' value is null in that it is not possible to find correlation between 'price' and 'unidentified year of use', which is null value in year.

In [16]:
df.drop(df[df['year'].isnull()].index, inplace=True)

In [17]:
((df.isnull().sum()/len(df)).sort_values(ascending = False)*100).astype(float)

size            65.833660
vin             65.002149
type            41.363597
condition       41.311162
paint_color     41.070286
cylinders       40.759592
drive           38.422174
odometer        32.708952
manufacturer     7.973276
weather          5.628695
county_fips      5.571771
county_name      5.571771
state_fips       5.571771
state_code       5.571771
make             4.120878
fuel             0.607253
transmission     0.555487
title_status     0.147563
image_url        0.000000
lat              0.000000
long             0.000000
state_name       0.000000
year             0.000000
price            0.000000
city             0.000000
url              0.000000
dtype: float64

Let's look into 'title_status' by value_counts().

In [18]:
df['title_status'].value_counts()

clean         971924
rebuilt        27973
salvage        22992
lien           12384
missing         7103
parts only      3089
Name: title_status, dtype: int64

Now let's take a look at rows whose 'title_status' value is null.

In [19]:
df[df['title_status'].isnull()]

,url,city,price,year,manufacturer,make,condition,cylinders,fuel,odometer,title_status,transmission,vin,drive,size,type,paint_color,image_url,lat,long,county_fips,county_name,state_fips,state_code,state_name,weather
711,https://ogden.craigslist.org/ctd/d/1998-volksw...,ogden,3199,1998,volkswagen,gti,NaN,NaN,NaN,129718.0,NaN,automatic,3VWDA81H2WM219546,NaN,NaN,hatchback,yellow,https://images.craigslist.org/00808_2ImZMc17NN...,43.618808,-116.307269,16001.0,Ada,16.0,ID,Idaho,47.0
712,https://ogden.craigslist.org/ctd/d/2013-toyota...,ogden,20399,2013,toyota,tacoma,NaN,NaN,NaN,52992.0,NaN,automatic,3TMJU4GN9DM148846,NaN,NaN,NaN,NaN,https://images.craigslist.org/00808_2XBEsB5t2F...,43.618808,-116.307269,16001.0,Ada,16.0,ID,Idaho,47.0
713,https://ogden.craigslist.org/ctd/d/2008-toyota...,ogden,13222,2008,toyota,tacoma,NaN,NaN,NaN,140879.0,NaN,manual,5TEUX42N68Z500012,NaN,NaN,NaN,silver,https://images.craigslist.org/01515_aH1Ax3xNny...,43.618808,-116.307269,16001.0,Ada,16.0,ID,Idaho,47.0
714,https://ogden.craigslist.org/ctd/d/2004-toyota...,ogden,5935,2004,toyota,prius,NaN,NaN,NaN,144741.0,NaN,other,JTDKB20U140078987,NaN,NaN,sedan,NaN,https://images.craigslist.org/01414_g2F53ObEcr...,43.618808,-116.307269,16001.0,Ada,16.0,ID,Idaho,47.0
715,https://ogden.craigslist.org/ctd/d/2007-toyota...,ogden,6841,2007,toyota,camry,NaN,NaN,NaN,141026.0,NaN,automatic,4T1BE46KX7U514026,NaN,NaN,sedan,white,https://images.craigslist.org/01515_cLa189rIx6...,43.618808,-116.307269,16001.0,Ada,16.0,ID,Idaho,47.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1045394,https://semo.craigslist.org/ctd/d/2014-chevrol...,semo,6900,2014,chevrolet,malibu 2lt 6-speed automatic,NaN,NaN,NaN,132000.0,NaN,automatic,1G11E5SL9EF202049,fwd,NaN,sedan,NaN,https://images.craigslist.org/00G0G_cW6uE5uofp...,36.803618,-89.947992,29207.0,Stoddard,29.0,MO,Missouri,52.0
1045487,https://semo.craigslist.org/ctd/d/2011-nissan-...,semo,8400,2011,nissan,pathfinder,NaN,NaN,NaN,155000.0,NaN,NaN,5N1AR1NB6BC619094,NaN,NaN,NaN,NaN,https://images.craigslist.org/01010_hmfyzv5eeP...,36.803618,-89.947992,29207.0,Stoddard,29.0,MO,Missouri,52.0
1045488,https://semo.craigslist.org/ctd/d/1994-ford-mu...,semo,2600,1994,ford,mustang,NaN,NaN,NaN,103000.0,NaN,automatic,1FALP4442RF143397,NaN,NaN,NaN,NaN,https://images.craigslist.org/00z0z_cq55h65fNm...,36.803618,-89.947992,29207.0,Stoddard,29.0,MO,Missouri,52.0
1045508,https://semo.craigslist.org/ctd/d/2008-ford-fo...,semo,3600,2008,ford,focus,NaN,NaN,gas,92057.0,NaN,manual,1FAHP34N88W273112,fwd,NaN,NaN,NaN,https://images.craigslist.org/00909_k9GKIpl66y...,36.803618,-89.947992,29207.0,Stoddard,29.0,MO,Missouri,52.0
1045652,https://semo.craigslist.org/ctd/d/1994-ford-mu...,semo,2600,1994,ford,mustang,NaN,NaN,NaN,103000.0,NaN,automatic,1FALP4442RF143397,NaN,NaN,NaN,NaN,https://images.craigslist.org/00z0z_cq55h65fNm...,36.803618,-89.947992,29207.0,Stoddard,29.0,MO,Missouri,52.0

Let's compare 'make' between two groups in 'title_status': notnull vs. isnull

In [20]:
df['make'][df['title_status'].notnull()].value_counts()

1500                             13871
f-150                            12992
silverado 1500                    8658
2500                              8065
silverado                         7976
                                 ...
Chrsyler Town/Country Touring        1
Pontaic grand prix gt                1
express 3500 one to                  1
savana 1500 high top                 1
quattro a4                           1
Name: make, Length: 75522, dtype: int64

In [21]:
df['make'][df['title_status'].isnull()].value_counts()

corolla                              16
civic                                15
accord                               13
focus                                13
tundra                               12
                                     ..
xterra                                1
fiesta st                             1
crv ex-l                              1
elantra limited                       1
f-450 sd supercab 2wd drw no data     1
Name: make, Length: 725, dtype: int64

As seen above, top 'makes' of isnull in 'title_status' seem small sedan or Japanese brands unlike top 'makes' of notnull in 'title_status'.

Let's compare 'manufacturer' between two groups in 'title_status': notnull vs. isnull

In [22]:
(df['manufacturer'][df['title_status'].notnull()].value_counts()/len(df['manufacturer'][df['title_status'].notnull()])).astype(float)*100

ford               16.862927
chevrolet          12.683734
toyota              6.828827
honda               5.282434
nissan              4.430564
dodge               4.402443
jeep                4.388000
gmc                 4.172115
ram                 3.315176
bmw                 2.565270
chevy               2.353498
volkswagen          2.003223
subaru              1.839660
hyundai             1.810295
chrysler            1.761322
mercedes-benz       1.472264
cadillac            1.447012
kia                 1.401482
mazda               1.366952
buick               1.325726
pontiac             1.287752
lexus               1.178040
acura               1.099989
audi                0.928486
lincoln             0.737758
infiniti            0.671758
volvo               0.667550
mitsubishi          0.613890
mercury             0.587107
saturn              0.537273
mercedes            0.415987
mini                0.391309
rover               0.344823
vw                  0.267823
jaguar              0.248406
fiat                0.117460
chev                0.049356
datsun              0.039121
harley-davidson     0.033669
infinity            0.029461
ferrari             0.016356
harley              0.013869
alfa-romeo          0.008704
porche              0.006217
alfa                0.004878
land rover          0.003539
aston-martin        0.003348
aston               0.003348
landrover           0.001626
morgan              0.000765
mercedesbenz        0.000383
noble               0.000191
hennessey           0.000096
Name: manufacturer, dtype: float64

In [23]:
(df['manufacturer'][df['title_status'].isnull()].value_counts()/len(df['manufacturer'][df['title_status'].isnull()])).astype(float)*100

ford             10.161812
toyota            9.126214
honda             9.126214
chevrolet         7.702265
nissan            6.343042
mazda             4.854369
hyundai           4.789644
dodge             4.012945
subaru            3.754045
bmw               3.495146
volkswagen        3.495146
kia               2.977346
jeep              2.653722
mercedes-benz     2.394822
chrysler          2.006472
pontiac           1.941748
infiniti          1.618123
acura             1.553398
gmc               1.423948
lexus             1.359223
audi              1.229773
mitsubishi        1.100324
mercedes          1.035599
volvo             0.841424
mercury           0.841424
ram               0.841424
cadillac          0.647249
buick             0.582524
mini              0.517799
jaguar            0.453074
fiat              0.388350
saturn            0.323625
rover             0.323625
lincoln           0.258900
vw                0.194175
Name: manufacturer, dtype: float64

As seen above, there seems no obvious correlation with notnull and isnull of 'title_status' regarding 'make' and 'manufacturer'.

Let's compare 'type' between two groups in 'title_status': notnull vs. isnull

In [24]:
(df['type'][df['title_status'].notnull()].value_counts()/len(df['type'][df['title_status'].notnull()])).astype(float)*100

sedan          15.377464
SUV            14.046286
truck           7.513307
pickup          7.161694
coupe           4.200332
hatchback       2.254882
convertible     1.785043
wagon           1.595271
van             1.466429
mini-van        1.448829
other           1.429890
offroad         0.308953
bus             0.114399
Name: type, dtype: float64

In [25]:
(df['type'][df['title_status'].isnull()].value_counts()/len(df['type'][df['title_status'].isnull()])).astype(float)*100

sedan          5.177994
SUV            3.948220
pickup         1.941748
coupe          0.711974
van            0.711974
hatchback      0.582524
wagon          0.388350
convertible    0.194175
mini-van       0.064725
Name: type, dtype: float64

Let's leave rows with null value in 'title_status' in that null value of 'title_status' can be ignorable.

Let's look into 'trasmission' by value_counts().

In [26]:
df['transmission'].value_counts()

automatic    892959
manual       125469
other         22766
Name: transmission, dtype: int64

Now let's take a look at rows whose 'transmission' value is null.

In [27]:
df[df['transmission'].isnull()]

,url,city,price,year,manufacturer,make,condition,cylinders,fuel,odometer,title_status,transmission,vin,drive,size,type,paint_color,image_url,lat,long,county_fips,county_name,state_fips,state_code,state_name,weather
7,https://marshall.craigslist.org/ctd/d/2008-bmw...,marshall,3900,2008,bmw,3 series,NaN,NaN,gas,0.0,clean,NaN,WBAVA37508NL47474,NaN,NaN,NaN,NaN,https://images.craigslist.org/00202_8ciATrWst3...,41.622572,-87.632656,17031.0,Cook,17.0,IL,Illinois,48.0
2079,https://buffalo.craigslist.org/ctd/d/2008-bmw-...,buffalo,8995,2008,bmw,328xi,NaN,NaN,gas,91340.0,clean,NaN,WBAVC93508KZ72509,NaN,compact,sedan,black,https://images.craigslist.org/01313_blKOGJyXhB...,42.863917,-78.754393,36029.0,Erie,36.0,NY,New York,53.0
2264,https://providence.craigslist.org/ctd/d/2012-f...,providence,6995,2012,ford,fiesta,NaN,NaN,other,73002.0,clean,NaN,3FADP4FJXCM183774,NaN,sub-compact,hatchback,black,https://images.craigslist.org/00p0p_1E1CnNRAjU...,41.868090,-71.509330,44007.0,Providence,44.0,RI,Rhode Island,49.0
2402,https://providence.craigslist.org/ctd/d/2006-f...,providence,32990,2006,ford,f-550,NaN,NaN,diesel,103939.0,clean,NaN,1FDAF57P66ED20417,4wd,full-size,other,white,https://images.craigslist.org/00000_eHkL6uPf3G...,42.834977,-71.107791,33015.0,Rockingham,33.0,NH,New Hampshire,43.0
2474,https://daytona.craigslist.org/ctd/d/2012-merc...,daytona,21995,2012,mercedes-benz,e-class,NaN,NaN,gas,NaN,clean,NaN,WDDHF8JB6CA552543,NaN,NaN,sedan,black,https://images.craigslist.org/00g0g_bQb8OB23qW...,28.424030,-81.404090,12095.0,Orange,12.0,FL,Florida,65.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048900,https://topeka.craigslist.org/ctd/d/2015-gmc-y...,topeka,38995,2015,gmc,yukon,NaN,NaN,NaN,71080.0,clean,NaN,1GKS2CKJXFR174578,NaN,NaN,NaN,NaN,https://images.craigslist.org/00z0z_2z0Jj7eIQL...,38.641900,-94.328500,29037.0,Cass/Van Buren,29.0,MO,Missouri,52.0
1048906,https://topeka.craigslist.org/ctd/d/2013-ford-...,topeka,38995,2013,ford,f350 super duty crew cab,NaN,NaN,NaN,98741.0,clean,NaN,1FT8W3DT0DEB13074,NaN,NaN,NaN,NaN,https://images.craigslist.org/00c0c_9Pwfu3Xd0R...,38.641900,-94.328500,29037.0,Cass/Van Buren,29.0,MO,Missouri,52.0
1048907,https://topeka.craigslist.org/ctd/d/2015-ford-...,topeka,22861,2015,ford,explorer,NaN,NaN,NaN,91340.0,clean,NaN,1FM5K8F86FGA95669,NaN,NaN,NaN,NaN,https://images.craigslist.org/00B0B_7WFdpNNUMx...,38.641900,-94.328500,29037.0,Cass/Van Buren,29.0,MO,Missouri,52.0
1048908,https://topeka.craigslist.org/ctd/d/2013-dodge...,topeka,23335,2013,dodge,durango,NaN,NaN,NaN,88117.0,clean,NaN,1C4SDJCT9DC559544,NaN,NaN,NaN,NaN,https://images.craigslist.org/00w0w_iH2JMTzlGe...,38.641900,-94.328500,29037.0,Cass/Van Buren,29.0,MO,Missouri,52.0
1048916,https://topeka.craigslist.org/ctd/d/2014-infin...,topeka,31883,2014,infiniti,qx80,NaN,NaN,NaN,91964.0,clean,NaN,JN8AZ2NE2E9063120,NaN,NaN,NaN,NaN,https://images.craigslist.org/00404_62V1mFvNhw...,38.641900,-94.328500,29037.0,Cass/Van Buren,29.0,MO,Missouri,52.0

Let's compare 'make' between two groups in 'transmission': notnull vs. isnull

In [28]:
df['make'][df['transmission'].notnull()].value_counts()

1500                     13850
f-150                    12902
silverado 1500            8661
2500                      8055
silverado                 7872
                         ...
Pontaic grand prix gt        1
express 3500 one to          1
savana 1500 high top         1
2009 R56                     1
quattro a4                   1
Name: make, Length: 75438, dtype: int64

In [29]:
df['make'][df['transmission'].isnull()].value_counts()

altima                          255
accord                          149
wrangler                        126
civic                           124
silverado                       114
                               ...
quest se                          1
blackwood                         1
f350                              1
3500 drw regular cab              1
c-max energi se 4d hatchback      1
Name: make, Length: 994, dtype: int64

Let's keep rows with null value of 'transmission' because of the following reasons:

(1) Null values in 'transmission' occupies insignificant portion at below than 1 %.

(2) Given such other feature information as 'make', 'manufacturer', or 'type',  it is not available to assume which vehicle should be automatic or manual.

Let's look into 'title_status' by value_counts().

In [30]:
df['fuel'].value_counts()

gas         928604
diesel       75518
other        27766
hybrid        7055
electric      1709
Name: fuel, dtype: int64

Let's compare 'make' between two groups in 'transmission': notnull vs. isnull

In [31]:
df['make'][df['fuel'].notnull()].value_counts()

1500                          13819
f-150                         12759
silverado 1500                 8398
2500                           8007
silverado                      7972
                              ...
1500 DENALI 2015                  1
95 impala SS                      1
Toyata Prius                      1
falcon futura 2 dr hardtop        1
quattro a4                        1
Name: make, Length: 74616, dtype: int64

In [32]:
df['make'][df['fuel'].isnull()].value_counts()

silverado 1500                                  264
f-150                                           234
tundra                                          115
tahoe                                            91
sierra 1500                                      76
                                               ...
tacoma 4wd double cab v6 mt trd sport (natl)      1
626                                               1
fx35                                              1
Scion FR-S                                        1
durango 4dr 4wd                                   1
Name: make, Length: 1918, dtype: int64

As seen above, it is also difficult to judge true 'fuel' types for rows whose 'fuel' is null value.  Thus, let's keep 'fuel' as it is because of the following reasons:

(1) Null values in 'transmission' occupies insignificant portion at below than 1 %.

(2) Given such other feature information as 'make', 'manufacturer', or 'type', it is not available to assume which vehicle should be automatic or manual.

In [33]:
((df.isnull().sum()/len(df)).sort_values(ascending = False)*100).astype(float)

size            65.833660
vin             65.002149
type            41.363597
condition       41.311162
paint_color     41.070286
cylinders       40.759592
drive           38.422174
odometer        32.708952
manufacturer     7.973276
weather          5.628695
county_fips      5.571771
county_name      5.571771
state_fips       5.571771
state_code       5.571771
make             4.120878
fuel             0.607253
transmission     0.555487
title_status     0.147563
image_url        0.000000
lat              0.000000
long             0.000000
state_name       0.000000
year             0.000000
price            0.000000
city             0.000000
url              0.000000
dtype: float64

Let's drop rows whose 'make' value is null in that null value of 'make' can not correlation with 'price'.

In [34]:
df.drop(df[df['make'].isnull()].index, inplace=True)

Let's drop 'odometer' whose value is null.

In [35]:
df.drop(df[df['odometer'].isnull()].index, inplace=True)

In [36]:
((df.isnull().sum()/len(df)).sort_values(ascending = False)*100).astype(float)

size            59.263851
vin             50.058866
condition       33.140501
cylinders       29.901213
paint_color     28.069913
type            26.380733
drive           24.958518
weather          6.437059
county_fips      6.401347
county_name      6.401347
state_fips       6.401347
state_code       6.401347
manufacturer     5.441348
fuel             0.724390
transmission     0.614208
title_status     0.060680
make             0.000000
city             0.000000
price            0.000000
year             0.000000
image_url        0.000000
lat              0.000000
odometer         0.000000
state_name       0.000000
long             0.000000
url              0.000000
dtype: float64

Let's take a look into such geographical information as 'lat' and 'long' whose 'county_fips' value is null.

In [37]:
df[['lat', 'long']][df['county_fips'].isnull()]

              lat        long
9       46.514191  -84.291307
10      46.497529  -84.467464
11      46.497529  -84.467464
12      46.517791  -84.342291
14      46.512332  -84.252914
...           ...         ...
386911  49.060585 -122.381825
386912  49.060585 -122.381825
386913  49.206149 -122.878196
386915  49.206149 -122.878196
386916  52.140620 -122.152208

[44096 rows x 2 columns]

Let's trace back to find real location with 'lat' and 'long' information.

In [38]:
import reverse_geocoder as rg 
import pprint 

def reverseGeocode(coordinates): 
    result = rg.search(coordinates)
    return (result)

if __name__=="__main__": 

    coordinates =list(zip(df['lat'],df['long'])) # generates pair of (lat,long)
    data = reverseGeocode(coordinates)

    df['city1'] = [i['name'] for i in data]
    df['state'] = [i['admin1'] for i in data]
    df['county'] = [i['admin2'] for i in data]

df.head()

Loading formatted geocoded file...

,url,city,price,year,manufacturer,make,condition,cylinders,fuel,odometer,title_status,transmission,vin,drive,size,type,paint_color,image_url,lat,long,county_fips,county_name,state_fips,state_code,state_name,weather,city1,state,county
0,https://marshall.craigslist.org/cto/d/2010-dod...,marshall,11900,2010,dodge,challenger se,good,6 cylinders,gas,43600.0,clean,automatic,NaN,rwd,NaN,coupe,red,https://images.craigslist.org/00i0i_2ggH1eKDNK...,43.477500,-96.704100,46083.0,Lincoln,46.0,SD,South Dakota,38.0,Harrisburg,South Dakota,Lincoln County
3,https://marshall.craigslist.org/cto/d/ford-tau...,marshall,2800,2004,ford,taurus,good,6 cylinders,gas,168591.0,clean,automatic,1FAFP55UO4G113464,fwd,full-size,sedan,grey,https://images.craigslist.org/00L0L_5HUR1nQjt8...,43.284500,-95.593000,19143.0,Osceola,19.0,IA,Iowa,47.0,Sanborn,Iowa,O'Brien County
4,https://marshall.craigslist.org/cto/d/2001-gra...,marshall,400,2001,NaN,2001 Grand Prix,NaN,NaN,gas,217000.0,clean,automatic,NaN,NaN,NaN,NaN,NaN,https://images.craigslist.org/00n0n_bJJ1XnonSG...,43.026100,-94.406400,19109.0,Kossuth,19.0,IA,Iowa,47.0,Algona,Iowa,Kossuth County
5,https://marshall.craigslist.org/ctd/d/2007-gmc...,marshall,9900,2007,gmc,yukon,good,8 cylinders,gas,169000.0,clean,automatic,NaN,4wd,NaN,NaN,NaN,https://images.craigslist.org/00T0T_hFLz9hAHi0...,43.328149,-96.774445,46083.0,Lincoln,46.0,SD,South Dakota,38.0,Lennox,South Dakota,Lincoln County
6,https://marshall.craigslist.org/cto/d/2015-jee...,marshall,12500,2015,jeep,patriot high altitude,like new,4 cylinders,gas,39500.0,rebuilt,automatic,NaN,4wd,sub-compact,SUV,grey,https://images.craigslist.org/00404_RsUm4vwrGV...,43.548600,-96.633200,46099.0,Minnehaha,46.0,SD,South Dakota,38.0,Sioux Falls,South Dakota,Minnehaha County

Let's compare: 'city' vs. 'city1' and 'state_name' vs. 'state'.

In [39]:
df[['city','city1','state_name','state']]

                 city          city1    state_name         state
0            marshall     Harrisburg  South Dakota  South Dakota
3            marshall        Sanborn          Iowa          Iowa
4            marshall         Algona          Iowa          Iowa
5            marshall         Lennox  South Dakota  South Dakota
6            marshall    Sioux Falls  South Dakota  South Dakota
...               ...            ...           ...           ...
1049187        topeka  Harrisonville      Missouri      Missouri
1049189        topeka  Harrisonville      Missouri      Missouri
1049193        topeka  Harrisonville      Missouri      Missouri
1049197  jacksonville        Bel-Nor      Missouri      Missouri
1049198    quadcities   Moscow Mills      Missouri      Missouri

[688855 rows x 4 columns]

Let's check null values in 'city1' and 'state'.

In [40]:
df[['city', 'state_name']][df['city1'].isnull()]

Empty DataFrame
Columns: [city, state_name]
Index: []

In [41]:
df[['city', 'state_name']][df['state'].isnull()]

Empty DataFrame
Columns: [city, state_name]
Index: []

Let's check different values of rows between 'city' and 'city1'.

In [42]:
df[['city','city1','state_name','state']][df['city'] != df['city1']]

                 city          city1    state_name         state
0            marshall     Harrisburg  South Dakota  South Dakota
3            marshall        Sanborn          Iowa          Iowa
4            marshall         Algona          Iowa          Iowa
5            marshall         Lennox  South Dakota  South Dakota
6            marshall    Sioux Falls  South Dakota  South Dakota
...               ...            ...           ...           ...
1049187        topeka  Harrisonville      Missouri      Missouri
1049189        topeka  Harrisonville      Missouri      Missouri
1049193        topeka  Harrisonville      Missouri      Missouri
1049197  jacksonville        Bel-Nor      Missouri      Missouri
1049198    quadcities   Moscow Mills      Missouri      Missouri

[688855 rows x 4 columns]

Let's check different values of rows between 'state_name' and 'state'.

In [43]:
df[['city','city1','state_name','state']][df['state_name'] != df['state']]

                city             city1 state_name     state
9                soo  Sault Ste. Marie     FAILED   Ontario
10               soo  Sault Ste. Marie     FAILED  Michigan
11               soo  Sault Ste. Marie     FAILED  Michigan
12               soo  Sault Ste. Marie     FAILED   Ontario
14               soo  Sault Ste. Marie     FAILED   Ontario
...              ...               ...        ...       ...
1044627  springfield            Galena   Missouri    Kansas
1044798  springfield       Bella Vista   Missouri  Arkansas
1046452   columbiamo           Leawood   Missouri    Kansas
1046913   columbiamo     Mission Hills   Missouri    Kansas
1048840       topeka           Leawood   Missouri    Kansas

[50205 rows x 4 columns]

Let's drop 'city', 'state_name' and other unnecessary columns.

In [44]:
df.head()

,url,city,price,year,manufacturer,make,condition,cylinders,fuel,odometer,title_status,transmission,vin,drive,size,type,paint_color,image_url,lat,long,county_fips,county_name,state_fips,state_code,state_name,weather,city1,state,county
0,https://marshall.craigslist.org/cto/d/2010-dod...,marshall,11900,2010,dodge,challenger se,good,6 cylinders,gas,43600.0,clean,automatic,NaN,rwd,NaN,coupe,red,https://images.craigslist.org/00i0i_2ggH1eKDNK...,43.477500,-96.704100,46083.0,Lincoln,46.0,SD,South Dakota,38.0,Harrisburg,South Dakota,Lincoln County
3,https://marshall.craigslist.org/cto/d/ford-tau...,marshall,2800,2004,ford,taurus,good,6 cylinders,gas,168591.0,clean,automatic,1FAFP55UO4G113464,fwd,full-size,sedan,grey,https://images.craigslist.org/00L0L_5HUR1nQjt8...,43.284500,-95.593000,19143.0,Osceola,19.0,IA,Iowa,47.0,Sanborn,Iowa,O'Brien County
4,https://marshall.craigslist.org/cto/d/2001-gra...,marshall,400,2001,NaN,2001 Grand Prix,NaN,NaN,gas,217000.0,clean,automatic,NaN,NaN,NaN,NaN,NaN,https://images.craigslist.org/00n0n_bJJ1XnonSG...,43.026100,-94.406400,19109.0,Kossuth,19.0,IA,Iowa,47.0,Algona,Iowa,Kossuth County
5,https://marshall.craigslist.org/ctd/d/2007-gmc...,marshall,9900,2007,gmc,yukon,good,8 cylinders,gas,169000.0,clean,automatic,NaN,4wd,NaN,NaN,NaN,https://images.craigslist.org/00T0T_hFLz9hAHi0...,43.328149,-96.774445,46083.0,Lincoln,46.0,SD,South Dakota,38.0,Lennox,South Dakota,Lincoln County
6,https://marshall.craigslist.org/cto/d/2015-jee...,marshall,12500,2015,jeep,patriot high altitude,like new,4 cylinders,gas,39500.0,rebuilt,automatic,NaN,4wd,sub-compact,SUV,grey,https://images.craigslist.org/00404_RsUm4vwrGV...,43.548600,-96.633200,46099.0,Minnehaha,46.0,SD,South Dakota,38.0,Sioux Falls,South Dakota,Minnehaha County

In [45]:
df.drop(['url','city', 'state_name','vin', 'paint_color', 'image_url',
        'lat', 'long', 'county_fips', 'county_name',
        'state_fips', 'state_code', 'state_name'], axis = 1, inplace=True)

Let's replace column name, 'city1' to 'city'.

In [46]:
df = df.rename(columns = {"city1":"city"})

In [47]:
df.columns

Index(['price', 'year', 'manufacturer', 'make', 'condition', 'cylinders',
       'fuel', 'odometer', 'title_status', 'transmission', 'drive', 'size',
       'type', 'weather', 'city', 'state', 'county'],
      dtype='object')

In [48]:
((df.isnull().sum()/len(df)).sort_values(ascending = False)*100).astype(float)

size            59.263851
condition       33.140501
cylinders       29.901213
type            26.380733
drive           24.958518
weather          6.437059
manufacturer     5.441348
fuel             0.724390
transmission     0.614208
title_status     0.060680
year             0.000000
make             0.000000
county           0.000000
odometer         0.000000
state            0.000000
city             0.000000
price            0.000000
dtype: float64

Let's do value_counts on 'make'.

In [49]:
df['make'].value_counts()

f-150                   10470
1500                     9160
silverado 1500           7312
2500                     5198
silverado                5077
                        ...
tacoma pick up              1
s10 crew cab 4d 4x4         1
Trans Am,Cavalier           1
suburban 1500 ls 4x4        1
rubicon lj                  1
Name: make, Length: 50193, dtype: int64

In [50]:
df['manufacturer'] = df['manufacturer'].str.lower() 
df['make'] = df['make'].str.lower() 
df['condition'] = df['condition'].str.lower() 
df['cylinders'] = df['cylinders'].str.lower() 
df['fuel'] = df['fuel'].str.lower() 
df['title_status'] = df['title_status'].str.lower() 
df['transmission'] = df['transmission'].str.lower() 
df['drive'] = df['drive'].str.lower() 
df['size'] = df['size'].str.lower() 
df['type'] = df['type'].str.lower()

Let's import another dataset to fill up the above null values in 'type'.

In [51]:
df_fuel = pd.read_csv("vehicles.csv", usecols = ['cylinders','drive',
                                                 'youSaveSpend','fuelType',
                                                 'make','model','trany','VClass',
                                                 'year'])
df_fuel.head()

,cylinders,drive,fuelType,make,model,trany,VClass,year,youSaveSpend
0,4.0,Rear-Wheel Drive,Regular,Alfa Romeo,Spider Veloce 2000,Manual 5-spd,Two Seaters,1985,-1750
1,12.0,Rear-Wheel Drive,Regular,Ferrari,Testarossa,Manual 5-spd,Two Seaters,1985,-8750
2,4.0,Front-Wheel Drive,Regular,Dodge,Charger,Manual 5-spd,Subcompact Cars,1985,0
3,8.0,Rear-Wheel Drive,Regular,Dodge,B150/B250 Wagon 2WD,Automatic 3-spd,Vans,1985,-8750
4,4.0,4-Wheel or All-Wheel Drive,Premium,Subaru,Legacy AWD Turbo,Manual 5-spd,Compact Cars,1993,-5250

In order to join the two datasets, let's make df_fuel's data compatible to df.

In [52]:
df_fuel['drive']=df_fuel['drive'].str.lower()
df_fuel['fuelType']=df_fuel['fuelType'].str.lower()
df_fuel['make']=df_fuel['make'].str.lower()
df_fuel['model']=df_fuel['model'].str.lower()
df_fuel['trany']=df_fuel['trany'].str.lower()
df_fuel['VClass']=df_fuel['VClass'].str.lower()

Let's replace column name, 'make' to 'manufacturer1' and 'model' to ' make1' in df_fuel.

In [53]:
df_fuel = df_fuel.rename(columns = {"make":"manufacturer", "model":"make"}) 
df_fuel.columns

Index(['cylinders', 'drive', 'fuelType', 'manufacturer', 'make', 'trany',
       'VClass', 'year', 'youSaveSpend'],
      dtype='object')

Let's make all values of 'cylinders' from both 'df' and 'df_fuel' compatible to each other.

In [54]:
df['cylinders'].value_counts()

6 cylinders     172569
4 cylinders     144227
8 cylinders     139814
other            17725
5 cylinders       5055
10 cylinders      2211
3 cylinders        854
12 cylinders       424
Name: cylinders, dtype: int64

In [55]:
df_fuel['cylinders'].value_counts()

4.0     16549
6.0     14672
8.0      9089
5.0       773
12.0      656
3.0       312
10.0      177
2.0        61
16.0       12
Name: cylinders, dtype: int64

In [56]:
type(df['cylinders'][0])

str

In [57]:
type(df_fuel['cylinders'][0])

numpy.float64

In [58]:
df['cylinders'].replace(to_replace ="other", value='0', inplace=True)
df['cylinders'] = df['cylinders'].str.extract('(\d+)')
df['cylinders'].fillna(0, inplace=True)
df['cylinders'] = df['cylinders'].astype(int)
df['cylinders'].value_counts()

0     223701
6     172569
4     144227
8     139814
5       5055
10      2211
3        854
12       424
Name: cylinders, dtype: int64

In [59]:
df_fuel['cylinders'].fillna(0, inplace=True)
df_fuel['cylinders'] = df_fuel['cylinders'].astype(int)
df_fuel['cylinders'].value_counts()

4     16549
6     14672
8      9089
5       773
12      656
3       312
0       244
10      177
2        61
16       12
Name: cylinders, dtype: int64

Let's compare 'drive' and make them compatible.

In [60]:
df_fuel['drive'].value_counts()

front-wheel drive             14582
rear-wheel drive              14185
4-wheel or all-wheel drive     6648
all-wheel drive                3483
4-wheel drive                  1666
2-wheel drive                   507
part-time 4-wheel drive         288
Name: drive, dtype: int64

In [61]:
df['drive'].value_counts()

4wd    223650
fwd    186644
rwd    106633
Name: drive, dtype: int64

In [62]:
df_fuel['drive'].replace(to_replace ="front-wheel drive", value='fwd', inplace=True)
df_fuel['drive'].replace(to_replace ="rear-wheel drive", value='rwd', inplace=True)
df_fuel['drive'].replace(to_replace ="4-wheel or all-wheel drive", value='4wd', inplace=True)
df_fuel['drive'].replace(to_replace ="all-wheel drive", value='4wd', inplace=True)
df_fuel['drive'].replace(to_replace ="4-wheel drive", value='4wd', inplace=True)
df_fuel['drive'].replace(to_replace ="2-wheel drive", value='2wd', inplace=True)
df_fuel['drive'].replace(to_replace ="part-time 4-wheel drive", value='4wd', inplace=True)
df_fuel['drive'].value_counts()

fwd    14582
rwd    14185
4wd    12085
2wd      507
Name: drive, dtype: int64

Let's compare 'transmission' and make them compatible.

In [63]:
df['transmission'].value_counts()

automatic    604066
manual        66765
other         13793
Name: transmission, dtype: int64

In [64]:
df_fuel['trany'].value_counts()

automatic 4-spd                     11048
manual 5-spd                         8373
automatic (s6)                       3199
automatic 3-spd                      3151
manual 6-spd                         2849
automatic 5-spd                      2203
automatic (s8)                       2024
automatic 6-spd                      1688
manual 4-spd                         1483
automatic (variable gear ratios)      899
automatic (s5)                        836
automatic 7-spd                       748
automatic 8-spd                       530
automatic (am-s7)                     507
automatic 9-spd                       410
automatic (s7)                        343
automatic (am7)                       272
automatic (a1)                        240
automatic (s4)                        233
automatic (av-s6)                     228
automatic (s10)                       197
automatic (av-s7)                     164
automatic (am6)                       160
automatic (am-s6)                     121
manual 7-spd                          120
automatic (s9)                        117
automatic (am-s8)                      93
manual 3-spd                           77
automatic (av-s8)                      73
automatic 10-spd                       68
automatic (av-s10)                     20
manual 4-spd doubled                   17
automatic (am8)                        14
automatic (am5)                        14
automatic (am-s9)                       4
automatic (a2)                          3
automatic (l4)                          2
automatic (av-s1)                       2
automatic (am-s10)                      2
automatic (l3)                          2
Name: trany, dtype: int64

In [65]:
df_fuel['transmission'] = df_fuel['trany']

In [66]:
df_fuel['transmission'].fillna('other', inplace=True)
df_fuel.loc[df_fuel['trany'].str.contains('automatic', na=False),'transmission']='automatic'   
df_fuel.loc[df_fuel['trany'].str.contains('manual', na=False),'transmission']='manual'   
df_fuel['transmission'].value_counts()

automatic    29615
manual       12919
other           11
Name: transmission, dtype: int64

Let's compare 'fuel' and make them compatible.

In [67]:
df['fuel'].value_counts()

gas         607816
diesel       47593
other        21766
hybrid        5572
electric      1118
Name: fuel, dtype: int64

In [68]:
df_fuel['fuelType'].value_counts()

regular                        27009
premium                        12225
gasoline or e85                 1339
diesel                          1209
electricity                      241
premium or e85                   127
midgrade                         118
premium and electricity           80
cng                               60
regular gas and electricity       54
premium gas or electricity        51
gasoline or natural gas           20
gasoline or propane                8
regular gas or electricity         4
Name: fuelType, dtype: int64

In [69]:
df_fuel['fuel'] = df_fuel['fuelType']
df_fuel['fuel'].fillna('other', inplace=True)
df_fuel.loc[df_fuel['fuelType'] == 'regular','fuel']='gas'   
df_fuel.loc[df_fuel['fuelType'] == 'premium','fuel']='gas'   
df_fuel.loc[df_fuel['fuelType'] == 'gasoline or e85','fuel']='gas'   
df_fuel.loc[df_fuel['fuelType'] == 'electricity','fuel']='electric'   
df_fuel.loc[df_fuel['fuelType'] == 'premium or e85','fuel']='gas'   
df_fuel.loc[df_fuel['fuelType'] == 'midgrade','fuel']='gas' 
df_fuel.loc[df_fuel['fuelType'] == 'premium and electricity','fuel']='hybrid' 
df_fuel.loc[df_fuel['fuelType'] == 'cng','fuel']='other' 
df_fuel.loc[df_fuel['fuelType'] == 'regular gas and electricity','fuel']='hybrid' 
df_fuel.loc[df_fuel['fuelType'] == 'premium gas or electricity','fuel']='hybrid'
df_fuel.loc[df_fuel['fuelType'] == 'gasoline or natural gas','fuel']='gas'
df_fuel.loc[df_fuel['fuelType'] == 'gasoline or propane','fuel']='gas'
df_fuel.loc[df_fuel['fuelType'] == 'regular gas or electricity','fuel']='hybrid'
df_fuel['fuel'].value_counts()

gas         40846
diesel       1209
electric      241
hybrid        189
other          60
Name: fuel, dtype: int64

Let's compare 'manufacturer' and make them compatible.

In [70]:
df['manufacturer'].value_counts()

ford               117169
chevrolet           85862
toyota              51485
honda               37972
nissan              32710
jeep                31476
dodge               29944
gmc                 29548
ram                 23000
bmw                 19640
hyundai             14950
subaru              14763
volkswagen          14422
chrysler            13063
mercedes-benz       11930
chevy               11347
kia                 11136
mazda               10285
cadillac            10112
lexus                9234
buick                9205
pontiac              7664
acura                7375
audi                 7133
lincoln              5295
infiniti             5189
volvo                4627
mitsubishi           4338
mercury              3813
saturn               3613
mini                 3066
mercedes             2774
rover                2120
jaguar               1697
vw                   1395
fiat                  872
harley-davidson       218
infinity              189
chev                  188
ferrari               140
datsun                118
harley                 78
alfa-romeo             53
porche                 38
alfa                   33
aston                  32
aston-martin           31
land rover             19
landrover               8
hennessey               1
morgan                  1
mercedesbenz            1
Name: manufacturer, dtype: int64

In [71]:
df_fuel['manufacturer'].value_counts()

chevrolet                             4115
ford                                  3436
dodge                                 2608
gmc                                   2564
toyota                                2141
bmw                                   2078
mercedes-benz                         1634
nissan                                1503
volkswagen                            1208
porsche                               1117
mitsubishi                            1081
audi                                  1056
honda                                 1051
mazda                                 1032
jeep                                   971
subaru                                 924
pontiac                                893
volvo                                  848
hyundai                                819
chrysler                               732
buick                                  683
kia                                    653
cadillac                               612
mercury                                609
lexus                                  540
plymouth                               526
suzuki                                 515
jaguar                                 477
oldsmobile                             462
mini                                   449
isuzu                                  434
saab                                   432
infiniti                               430
lincoln                                368
acura                                  359
saturn                                 278
ferrari                                243
land rover                             232
rolls-royce                            202
eagle                                  161
aston martin                           158
geo                                    147
maserati                               146
bentley                                137
lamborghini                            135
peugeot                                 98
tesla                                   97
ram                                     95
scion                                   84
fiat                                    75
alfa romeo                              69
daewoo                                  67
roush performance                       67
lotus                                   63
genesis                                 60
renault                                 56
smart                                   38
mclaren automotive                      36
j.k. motors                             36
wallace environmental                   32
maybach                                 31
american motors corporation             27
hummer                                  19
daihatsu                                17
cx automotive                           17
federal coach                           14
merkur                                  14
spyker                                  13
import trade services                   13
sterling                                12
bugatti                                 12
dabryan coach builders inc               9
yugo                                     8
byd                                      7
bertone                                  7
pininfarina                              6
mcevoy motors                            6
am general                               6
tecstar, lp                              6
saleen                                   5
saleen performance                       5
bitter gmbh and co. kg                   5
vpg                                      5
panther car company limited              4
bill dovell motor car company            4
kenyon corporation of america            4
autokraft limited                        4
tvr engineering ltd                      4
mobility ventures llc                    4
texas coach company                      4
grumman olson                            4
vector                                   4
morgan                                   3
pagani                                   3
evans automobiles                        3
karma                                    3
dacia                                    3
consulier industries inc                 3
ruf automobile gmbh                      3
bmw alpina                               3
ruf automobile                           2
pas inc - gmc                            2
srt                                      2
coda automotive                          2
quantum technologies                     2
azure dynamics                           2
ccc engineering                          2
red shift ltd.                           2
laforza automobile inc                   2
pas, inc                                 2
avanti motor corporation                 2
shelby                                   1
superior coaches div e.p. dutton         1
asc incorporated                         1
import foreign auto sales inc            1
e. p. dutton, inc.                       1
london taxi                              1
mahindra                                 1
vixen motor company                      1
volga associated automobile              1
fisker                                   1
sti                                      1
jba motorcars, inc.                      1
goldacre                                 1
polestar automotive usa inc.             1
london coach co inc                      1
panos                                    1
isis imports ltd                         1
panoz auto-development                   1
koenigsegg                               1
aurora cars ltd                          1
qvale                                    1
lambda control systems                   1
general motors                           1
excalibur autos                          1
s and s coach company  e.p. dutton       1
grumman allied industries                1
environmental rsch and devp corp         1
Name: manufacturer, dtype: int64

In [72]:
df['manufacturer'].replace(to_replace="vw",value="volkswagen",inplace=True)
df['manufacturer'].replace(to_replace="mercedes",value="mercedes-benz",inplace=True)
df['manufacturer'].replace(to_replace="mercedesbenz",value="mercedes-benz",inplace=True)
df['manufacturer'].replace(to_replace="infinity",value="infiniti",inplace=True)
df['manufacturer'].replace(to_replace="landrover",value="land rover",inplace=True)
df['manufacturer'].replace(to_replace="rover",value="land rover",inplace=True)
df['manufacturer'].replace(to_replace="harley",value="harley-davidson",inplace=True)
df['manufacturer'].replace(to_replace="alfa",value="alfa romeo",inplace=True)
df['manufacturer'].replace(to_replace="aston",value="aston-martin",inplace=True)
df.drop_duplicates(inplace=True)

In [73]:
df_fuel.drop_duplicates(inplace=True)

Let's join two datasets by 'make', 'cylinder', 'drive', 'transmission', and 'year'.

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 523667 entries, 0 to 1049198
Data columns (total 17 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   price         523667 non-null  object
 1   year          523667 non-null  object
 2   manufacturer  492516 non-null  object
 3   make          523667 non-null  object
 4   condition     372562 non-null  object
 5   cylinders     523667 non-null  int32
 6   fuel          520473 non-null  object
 7   odometer      523667 non-null  float64
 8   title_status  523358 non-null  object
 9   transmission  521155 non-null  object
 10  drive         394294 non-null  object
 11  size          226984 non-null  object
 12  type          381127 non-null  object
 13  weather       497443 non-null  float64
 14  city          523667 non-null  object
 15  state         523667 non-null  object
 16  county        523667 non-null  object
dtypes: float64(2), int32(1), object(14)
memory usage: 69.9+ MB

In [75]:
df_fuel.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40214 entries, 0 to 42544
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cylinders     40214 non-null  int32
 1   drive         39434 non-null  object
 2   fuelType      40214 non-null  object
 3   manufacturer  40214 non-null  object
 4   make          40214 non-null  object
 5   trany         40203 non-null  object
 6   VClass        40214 non-null  object
 7   year          40214 non-null  int64
 8   youSaveSpend  40214 non-null  int64
 9   transmission  40214 non-null  object
 10  fuel          40214 non-null  object
dtypes: int32(1), int64(2), object(8)
memory usage: 3.5+ MB

Now let's drop such columns as 'fuelTpe' and 'trany'

In [76]:
df_fuel.drop(['fuelType','trany'], axis = 1, inplace=True)

Now merge!

In [77]:
df = df.merge(df_fuel, how='left', on=["make",'manufacturer',"cylinders",'drive','transmission','year','fuel'])

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 546530 entries, 0 to 546529
Data columns (total 19 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   price         546530 non-null  object
 1   year          546530 non-null  object
 2   manufacturer  515379 non-null  object
 3   make          546530 non-null  object
 4   condition     390719 non-null  object
 5   cylinders     546530 non-null  int32
 6   fuel          543336 non-null  object
 7   odometer      546530 non-null  float64
 8   title_status  546208 non-null  object
 9   transmission  544018 non-null  object
 10  drive         417147 non-null  object
 11  size          240011 non-null  object
 12  type          400799 non-null  object
 13  weather       519112 non-null  float64
 14  city          546530 non-null  object
 15  state         546530 non-null  object
 16  county        546530 non-null  object
 17  VClass        77363 non-null   object
 18  youSaveSpend  77363 non-null   float64
dtypes: float64(3), int32(1), object(15)
memory usage: 81.3+ MB

Let's fill in null value of 'manufacturer' with the majority manufacturer value in 'manufacturer'.

In [79]:
df['make'][df['manufacturer'].isnull()].value_counts()

scion tc                    487
hummer h3                   331
scion xb                    309
hummer h2                   284
porsche cayenne             228
                           ...
mb c300 4matic                1
mitsibishi eclipse gt         1
2010 cobra superformance      1
international 1710            1
v.w. camper                   1
Name: make, Length: 12654, dtype: int64

In [80]:
i=0
a = df['make'][df['manufacturer'].isnull()].value_counts().index
  
for i in tqdm(range(0,12655)):
    
    try:
        df.loc[((df['make'].str.contains(a[i]))
                & (df['manufacturer'].isnull())),'manufacturer']=df['manufacturer'][df['make'].str.contains(a[i])].value_counts().index[0]
        
    except:
        pass

 19%|█▉        | 2452/12655 [17:55<1:17:36,  2.19it/s]C:\Users\danie\Anaconda\lib\site-packages\pandas\core\strings.py:1954: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)
100%|██████████| 12655/12655 [1:33:34<00:00,  2.25it/s]

In [81]:
df['make'][df['manufacturer'].isnull()].value_counts()

Series([], Name: make, dtype: int64)

In [82]:
((df.isnull().sum()/len(df)).sort_values(ascending = False)*100).astype(float)

youSaveSpend    85.844693
VClass          85.844693
size            56.084570
condition       28.509139
type            26.664776
drive           23.673540
weather          5.016742
fuel             0.584414
transmission     0.459627
title_status     0.058917
city             0.000000
odometer         0.000000
state            0.000000
cylinders        0.000000
county           0.000000
make             0.000000
manufacturer     0.000000
year             0.000000
price            0.000000
dtype: float64

Let's fill in 'transmission'

In [83]:
df['make'][df['transmission'].isnull()].value_counts()

altima                    149
accord                     88
civic                      73
rogue                      67
sentra                     56
                         ...
prius two 5d hatchback      1
xf                          1
c/k 3500                    1
odyssey 5dr ex-l            1
versa sedan sv              1
Name: make, Length: 539, dtype: int64

In [84]:
i=0
a = df['make'][df['transmission'].isnull()].value_counts().index
  
for i in tqdm(range(0,540)):
    try:
        df.loc[((df['make'].str.contains(a[i]))
                & (df['transmission'].isnull())),'transmission']=df['transmission'][df['make'].str.contains(a[i])].value_counts().index[0]
        
    except:
        pass

100%|██████████| 540/540 [03:54<00:00,  2.30it/s]

In [85]:
df['make'][df['transmission'].isnull()].value_counts()

gl1800/gold wing                    2
davidson softail standard           1
a6 4.2 quattro s-line               1
xt5 premium luxury awd              1
ducati streetfighter (sft)          1
travel lite, inc. travel lite, i    1
f450 regular cab                    1
kawasaki klr 650                    1
davidson cvo fat boy                1
f450 4x4 crew cab                   1
vt750c2                             1
davidson dyna low rider             1
jcw coupe                           1
jayco jay feather                   1
Name: make, dtype: int64

The above 14 'makes'' 'transmissions' are not identified.

Let's fill in 'fuel'

In [86]:
df['make'][df['fuel'].isnull()].value_counts()

silverado 1500                           138
f-150                                    124
tahoe                                     74
tundra                                    72
sierra 1500                               46
                                        ...
a4 4dr sdn auto quattro 2.0t premium       1
yahamaha kodiak                            1
maverick                                   1
super duty f-250 crew cab 156" xl 4wd      1
isuzu npr                                  1
Name: make, Length: 1424, dtype: int64

In [87]:
i=0
a = df['make'][df['fuel'].isnull()].value_counts().index
  
for i in tqdm(range(0,1425)):
    try:
        df.loc[((df['make'].str.contains(a[i]))
                & (df['fuel'].isnull())),'fuel']=df['fuel'][df['make'].str.contains(a[i])].value_counts().index[0]
        
    except:
        pass

100%|██████████| 1425/1425 [08:45<00:00,  2.71it/s]

In [88]:
print(df['make'][df['fuel'].isnull()].value_counts())
print(len(df['make'][df['fuel'].isnull()].value_counts()))

srt viper 2dr cpe gts                                6
cargo van 119" wb tradesman                          4
q5 quattro 4dr 2.0t premium plus                     4
a4 4dr sdn auto quattro 2.0t premium plus            3
x5 m awd 4dr                                         3
vibe 4dr hb                                          2
slk-class slk280                                     2
porsche panamera 4dr hb 4s                           2
vespa 250                                            2
eclipse 2dr conv spyder gt sportronic                2
renault lesharo                                      2
sentra 4dr sdn i4 cvt s                              2
century 4dr sdn custom                               2
edge awd 4dr sel                                     2
q7 quattro 4dr 4.2l premium                          2
cc 4dr sdn dsg sport                                 2
aura 4dr sdn xe                                      2
cla-class 4dr sdn cla 250 fwd                        2
sentra 4dr sdn i4 cvt 2.0 sl                         2
navigator 4x4 select                                 2
cx-9 awd 4dr grand touring                           2
r8 2dr cpe 5.2l man quattro                          2
low cab                                              1
milan v6 6-speed automatic                           1
xf 4dr sdn i4 rwd                                    1
c70 2dr conv auto                                    1
sedona lx 6-speed automatic                          1
outlander sport 2wd 4dr cvt 2.4 es                   1
amanti 4dr sdn auto                                  1
avalon hybrid 4dr sdn xle touring (natl)             1
s7 4dr hb prestige                                   1
a4 4dr sdn cvt 2.0t fronttrak prem                   1
porsche macan s awd                                  1
crosstour 2wd i4 5dr ex-l                            1
opel manta                                           1
porsche boxster 2dr roadster spyder                  1
element 2wd 5dr auto ex                              1
cc 4dr dsg sport pzev                                1
sentra sr turbo cvt                                  1
scion ia 4dr sdn auto (natl)                         1
evoque 5dr hb pure plus                              1
vt750c2                                              1
porsche macan awd 4dr s                              1
tt 2dr roadster quattro 6-spd                        1
mx-5 miata 2dr conv prht man touring                 1
sentra 4dr sdn i4 cvt 2.0 sl fe+                     1
scion fr-s 2dr cpe man (natl)                        1
b9 tribeca awd 4dr 5-pass ltd beige int              1
c-hr xle premium fwd (natl)                          1
x1 awd 4dr xdrive28i                                 1
outlander sport 2wd 4dr cvt es                       1
big dog k9 protohype                                 1
cc 4dr sdn lux limited                               1
porsche cayenne platinum edition awd                 1
f-450 sd supercab 2wd drw no data                    1
s60 inscription 4dr sdn t5 drive-e premier fwd       1
caravan 4dr grand es 119" wb                         1
victory ness jackpot - no data                       1
maserati quattroporte 4dr sdn quattroporte           1
maserati ghibli 4dr sdn                              1
porsche cayenne awd 4dr diesel                       1
rl 4dr sdn                                           1
7 series 4dr sdn 750li rwd                           1
vrscdx                                               1
expedition max limited 4x4                           1
lancer 4dr sdn cvt se awd                            1
veloster turbo dual clutch                           1
porsche 911 2dr cpe carrera s                        1
srt-10 4dr quad cab 140.5" wb                        1
x-type 2.5 5-speed automatic                         1
davidson fxstd                                       1
xts 4dr sdn luxury collection fwd                    1
routan 4dr wgn sel w/rse & navigation                1
insight 5dr cvt ex                                   1
s-class s550 sedan                                   1
mkx fwd 4dr                                          1
econoline e250 van                                   1
i8 2dr cpe                                           1
forest river rv continental carg                     1
612 scaglietti 2dr cpe                               1
xc90 fwd 4dr i6 w/snrf                               1
sentra sv cvt                                        1
roadmaster 4dr wagon estate                          1
thomas -cummins diesel                               1
matrix 5dr wgn auto s awd (natl)                     1
q50 4dr sdn rwd                                      1
s80 4dr sdn t6 platinum                              1
viper 2dr rt/10 convertible                          1
outlander 2wd 4dr se                                 1
versa 5dr hb i4 auto 1.8 s                           1
4 series 2dr cpe 428i rwd                            1
reatta 2dr convertible                               1
eclipse gs 4-speed automatic                         1
mkc black label fwd                                  1
gli 4dr sdn dsg autobahn pzev                        1
ilx 4dr sdn w/acurawatch plus pkg                    1
suzuki equator 2wd crew cab v6 auto sport            1
golf 1.8t 4-door s manual                            1
cube 5dr wgn i4 cvt 1.8 s                            1
5 series 4dr sdn 550i rwd                            1
accent 4dr sdn auto se                               1
xj 4dr sdn xjl portfolio rwd                         1
s-class s550 4matic sedan                            1
avalon 4dr sdn xle touring (natl)                    1
evoque 5dr hb pure                                   1
s8 4dr sdn                                           1
suzuki forenza s                                     1
caliber 4dr hb express                               1
scion tc 2dr hb man (natl)                           1
edge fwd 4dr sel plus                                1
w55042                                               1
mack rd68 fuel oil tanker                            1
oldsmobile 88 royale 4dr sedan                       1
caravan 4dr grand sxt                                1
rv low miles ru                                      1
a6 4.2 quattro s-line                                1
outlander 2wd 4dr es                                 1
evoque 2dr cpe dynamic premium                       1
a6 4dr sdn 2.7t quattro auto                         1
scion xd 5dr hb auto (natl)                          1
7-series 750i 6-speed automatic                      1
porsche panamera turbo awd                           1
5 series 4dr sdn 525i rwd                            1
xc70 4dr wgn                                         1
yahamaha kodiak                                      1
sentra 4dr sdn i4 manual se-r spec v *late avail*    1
vue fwd 4dr v6 xr                                    1
s40 4dr sdn 2.5t r-design awd                        1
hd soft tail classic                                 1
outlander se s-awc                                   1
porsche cayman 2dr cpe                               1
gx 470 sport utility 5-speed automatic               1
5 series 4dr sdn 528i rwd                            1
night train                                          1
cobalt 2dr cpe lt w/1lt                              1
vue 4dr fwd auto v6                                  1
expedition 2wd 4dr xlt                               1
a4 4dr sdn auto quattro 2.0t premium                 1
sentra 4dr sdn i4 cvt sv                             1
sl sl2 auto                                          1
cobalt 2dr cpe ss supercharged                       1
sentra 4dr sdn i4 cvt sl                             1
Name: make, dtype: int64
142

The above 142 'makes'' 'fuel' are not identified.

In [89]:
((df.isnull().sum()/len(df)).sort_values(ascending = False)*100).astype(float)

youSaveSpend    85.844693
VClass          85.844693
size            56.084570
condition       28.509139
type            26.664776
drive           23.673540
weather          5.016742
title_status     0.058917
fuel             0.031837
transmission     0.002745
city             0.000000
odometer         0.000000
state            0.000000
cylinders        0.000000
county           0.000000
make             0.000000
manufacturer     0.000000
year             0.000000
price            0.000000
dtype: float64

Let's fill in 'drive'.

In [90]:
df['make'][df['drive'].isnull()].value_counts()

civic             1300
accord            1227
1500              1178
mustang           1029
f-150              967
                  ...
outback (natl)       1
intl roll off        1
saab 9-2x aero       1
f-250 v20            1
sd7                  1
Name: make, Length: 16037, dtype: int64

In [91]:
i=0
a = df['make'][df['drive'].isnull()].value_counts().index
  
for i in tqdm(range(0,16038)):
    try:
        df.loc[((df['make'].str.contains(a[i]))
                & (df['drive'].isnull())),'drive']=df['drive'][df['make'].str.contains(a[i])].value_counts().index[0]
        
    except:
        pass

100%|██████████| 16038/16038 [1:57:13<00:00,  2.28it/s]

In [92]:
print(df['make'][df['drive'].isnull()].value_counts())
print(len(df['make'][df['drive'].isnull()].value_counts()))

Series([], Name: make, dtype: int64)
0

In [93]:
((df.isnull().sum()/len(df)).sort_values(ascending = False)*100).astype(float)

youSaveSpend    85.844693
VClass          85.844693
size            56.084570
condition       28.509139
type            26.664776
weather          5.016742
title_status     0.058917
fuel             0.031837
transmission     0.002745
drive            0.000000
city             0.000000
odometer         0.000000
state            0.000000
cylinders        0.000000
county           0.000000
make             0.000000
manufacturer     0.000000
year             0.000000
price            0.000000
dtype: float64

Let's fill in 'type'.

In [94]:
df['make'][df['type'].isnull()].value_counts()

1500                       1810
f-150                      1628
civic                      1559
silverado 1500             1326
wrangler                   1293
                           ...
4runner 4x4 sport             1
studabaker commander          1
535d xdrive awd m-sport       1
3c4fy58b75t531700             1
sd7                           1
Name: make, Length: 16621, dtype: int64

In [95]:
i=0
a = df['make'][df['type'].isnull()].value_counts().index
  
for i in tqdm(range(0,16622)):
    try:
        df.loc[((df['make'].str.contains(a[i]))
                & (df['type'].isnull())),'type']=df['type'][df['make'].str.contains(a[i])].value_counts().index[0]
        
    except:
        pass

100%|██████████| 16622/16622 [2:03:49<00:00,  2.24it/s]

In [96]:
print(df['make'][df['type'].isnull()].value_counts())
print(len(df['make'][df['type'].isnull()].value_counts()))

Series([], Name: make, dtype: int64)
0

In [97]:
((df.isnull().sum()/len(df)).sort_values(ascending = False)*100).astype(float)

youSaveSpend    85.844693
VClass          85.844693
size            56.084570
condition       28.509139
weather          5.016742
title_status     0.058917
fuel             0.031837
transmission     0.002745
drive            0.000000
type             0.000000
city             0.000000
odometer         0.000000
state            0.000000
cylinders        0.000000
county           0.000000
make             0.000000
manufacturer     0.000000
year             0.000000
price            0.000000
dtype: float64

Let's fill in 'size'.

In [98]:
df['make'][df['size'].isnull()].value_counts()

f-150                         4310
1500                          3773
silverado 1500                2947
civic                         2737
accord                        2457
                              ...
tacoma xe                        1
3-series 325ci convertible       1
merceds benz s550                1
compass 4wd 4dr high altit       1
mazada rx-8                      1
Name: make, Length: 29205, dtype: int64

In [99]:
i=0
a = df['make'][df['size'].isnull()].value_counts().index
  
for i in tqdm(range(0,29206)):
    try:
        df.loc[((df['make'].str.contains(a[i]))
                & (df['size'].isnull())),'size']=df['size'][df['make'].str.contains(a[i])].value_counts().index[0]
        
    except:
        pass

100%|██████████| 29206/29206 [3:34:10<00:00,  2.27it/s]

In [100]:
print(df['make'][df['size'].isnull()].value_counts())
print(len(df['make'][df['size'].isnull()].value_counts()))

Series([], Name: make, dtype: int64)
0

Let's fill in 'VClass'.

In [101]:
df['make'][df['VClass'].isnull()].value_counts()

1500                                     6965
f-150                                    6890
silverado 1500                           4938
2500                                     3746
escape                                   3381
                                         ...
m35 awd 4dr sedan                           1
olds rocket 88 coupe                        1
f450 super duty regular cab & chassis       1
2011 town & country touring van             1
canyon slt 4x4 half ton gas                 1
Name: make, Length: 46811, dtype: int64

In [102]:
i=0
a = df['make'][df['VClass'].isnull()].value_counts().index
  
for i in tqdm(range(0,46812)):
    try:
        df.loc[((df['make'].str.contains(a[i]))
                & (df['VClass'].isnull())),'VClass']=df['VClass'][df['make'].str.contains(a[i])].value_counts().index[0]
        
    except:
        pass

100%|██████████| 46812/46812 [5:37:23<00:00,  2.31it/s]

In [103]:
print(df['make'][df['VClass'].isnull()].value_counts())
print(len(df['make'][df['VClass'].isnull()].value_counts()))

Series([], Name: make, dtype: int64)
0

In [104]:
((df.isnull().sum()/len(df)).sort_values(ascending = False)*100).astype(float)

youSaveSpend    85.844693
condition       28.509139
weather          5.016742
title_status     0.058917
fuel             0.031837
transmission     0.002745
type             0.000000
size             0.000000
drive            0.000000
VClass           0.000000
city             0.000000
odometer         0.000000
state            0.000000
cylinders        0.000000
county           0.000000
make             0.000000
manufacturer     0.000000
year             0.000000
price            0.000000
dtype: float64

In order to fill in weather, let's make another column 'loc' which combines 'city', 'county', and 'state'.

In [105]:
df['loc'] = df['city'] + df['county'] + df['state']

Let's fill in 'weather' by 'loc'.

In [106]:
df['loc'][df['weather'].isnull()].value_counts()

New WestminsterBritish Columbia            2682
LangleyBritish Columbia                    1845
SurreyBritish Columbia                     1728
CourtenayBritish Columbia                  1599
RichmondBritish Columbia                   1360
                                           ...
Greater SudburyOntario                        1
Vila Nova SintraBrava                         1
AltonaManitoba                                1
El CoronilProvincia de SevillaAndalusia       1
Sea RanchSonoma CountyCalifornia              1
Name: loc, Length: 513, dtype: int64

In [107]:
i=0
a = df['loc'][df['weather'].isnull()].value_counts().index
  
for i in tqdm(range(0,514)):
    try:
        df.loc[((df['loc'].str.contains(a[i]))
                & (df['weather'].isnull())),'weather']=df['weather'][df['loc'].str.contains(a[i])].value_counts().index[0]
        
    except:
        pass

100%|██████████| 514/514 [02:03<00:00,  4.16it/s]

In [108]:
df['loc'][df['weather'].isnull()].value_counts()

New WestminsterBritish Columbia                                           2682
LangleyBritish Columbia                                                   1845
SurreyBritish Columbia                                                    1728
CourtenayBritish Columbia                                                 1599
RichmondBritish Columbia                                                  1360
VancouverBritish Columbia                                                 1306
North VancouverFraser Valley Regional DistrictBritish Columbia            1218
BurnabyBritish Columbia                                                   1153
Port MoodyBritish Columbia                                                1002
NanaimoBritish Columbia                                                    949
Campbell RiverBritish Columbia                                             894
VictoriaBritish Columbia                                                   729
LadnerBritish Columbia                                                     658
AldergroveBritish Columbia                                                 576
ParksvilleRegional District of NanaimoBritish Columbia                     444
DeltaBritish Columbia                                                      419
West EndBritish Columbia                                                   418
CoquitlamBritish Columbia                                                  383
ScarboroughOntario                                                         368
KelownaBritish Columbia                                                    340
AbbotsfordBritish Columbia                                                 310
ChilliwackFraser Valley Regional DistrictBritish Columbia                  294
ConcordOntario                                                             284
TorontoOntario                                                             280
White RockGreater Vancouver Regional DistrictBritish Columbia              264
EtobicokeOntario                                                           200
BramptonOntario                                                            193
SecheltSunshine Coast Regional DistrictBritish Columbia                    189
AjaxOntario                                                                177
KamloopsBritish Columbia                                                   169
Walnut GroveBritish Columbia                                               167
Maple RidgeBritish Columbia                                                159
CalgaryAlberta                                                             149
GibsonsSunshine Coast Regional DistrictBritish Columbia                    133
OshawaOntario                                                              131
PentictonBritish Columbia                                                  109
Pitt MeadowsBritish Columbia                                               108
Lions BayGreater Vancouver Regional DistrictBritish Columbia               101
MississaugaOntario                                                          97
Port AlberniBritish Columbia                                                89
TofinoRegional District of Alberni-ClayoquotBritish Columbia                89
West KelownaBritish Columbia                                                89
CranbrookBritish Columbia                                                   86
EdmontonAlberta                                                             79
WhistlerBritish Columbia                                                    79
VernonRegional District of North OkanaganBritish Columbia                   77
Oak BayBritish Columbia                                                     76
DuncanBritish Columbia                                                      69
AgassizBritish Columbia                                                     69
Salmon ArmBritish Columbia                                                  68
VaughanOntario                                                              65
North SaanichBritish Columbia                                               59
LadysmithCowichan Valley Regional DistrictBritish Columbia                  58
CumberlandBritish Columbia                                                  54
HamiltonOntario                                                             54
ColwoodBritish Columbia                                                     53
Powell RiverPowell River Regional DistrictBritish Columbia                  53
MarkhamOntario                                                              52
WillowdaleOntario                                                           51
Richmond HillYorkOntario                                                    49
OsoyoosBritish Columbia                                                     49
West VancouverBritish Columbia                                              46
LangfordBritish Columbia                                                    44
Prince GeorgeBritish Columbia                                               37
WinnipegManitoba                                                            35
NewmarketOntario                                                            34
Edinburgh of the Seven SeasTristan da Cunha                                 31
MiltonHaltonOntario                                                         30
Capitol HeightsPrince George's CountyMaryland                               30
North CowichanBritish Columbia                                              30
Bowen IslandGreater Vancouver Regional DistrictBritish Columbia             30
OliverBritish Columbia                                                      29
Cache CreekBritish Columbia                                                 28
Williams LakeBritish Columbia                                               28
BurlingtonOntario                                                           25
CastlegarBritish Columbia                                                   25
OakvilleOntario                                                             22
NelsonBritish Columbia                                                      22
North YorkOntario                                                           21
Puerto VillamilCanton IsabelaGalapagos                                      21
Los AchotesZihuatanejo de AzuetaGuerrero                                    20
IngersollOntario                                                            19
AnmoreGreater Vancouver Regional DistrictBritish Columbia                   19
PeachlandBritish Columbia                                                   18
Belleair BeachPinellas CountyFlorida                                        16
HalifaxNova Scotia                                                          16
ChaseBritish Columbia                                                       16
SaskatoonSaskatchewan                                                       16
Gjoa HavenNunavut                                                           15
ChestermereAlberta                                                          15
SummerlandBritish Columbia                                                  15
ThompsonManitoba                                                            14
LumbyBritish Columbia                                                       14
WhitehorseYukon                                                             14
San PatricioJalisco                                                         13
Grytviken                                                                   13
KitchenerOntario                                                            12
Ostrov Paskhi                                                               12
PembertonBritish Columbia                                                   12
St. AlbertAlberta                                                           12
Thunder BayThunder Bay DistrictOntario                                      12
MerrittBritish Columbia                                                     12
ArmstrongBritish Columbia                                                   11
TrailBritish Columbia                                                       10
TaberAlberta                                                                10
Telchac PuertoYucatan                                                       10
SelkirkManitoba                                                             10
OttawaOntario                                                               10
GlassmanorPrince George's CountyMaryland                                    10
JamestownSaint Helena                                                       10
Hanga RoaValparaiso                                                          9
KodiakKodiak Island BoroughAlaska                                            9
RevelstokeBritish Columbia                                                   9
PickeringOntario                                                             9
OmemeeOntario                                                                8
BarrieOntario                                                                8
Bradford West GwillimburyOntario                                             8
Sherwood ParkAlberta                                                         8
Lake CowichanBritish Columbia                                                8
GuelphWellington CountyOntario                                               7
MetchosinBritish Columbia                                                    7
BanffAlberta                                                                 7
WellandOntario                                                               7
LethbridgeAlberta                                                            7
Bells CornersOntario                                                         7
PeterboroughOntario                                                          7
LondonOntario                                                                7
Brisas de ZicatelaSanta Maria ColotepecOaxaca                                7
QuesnelBritish Columbia                                                      6
WaterlooOntario                                                              6
UclueletRegional District of Alberni-ClayoquotBritish Columbia               6
KitimatBritish Columbia                                                      6
HeadingleyManitoba                                                           6
RosslandBritish Columbia                                                     6
Rankin InletNunavut                                                          6
BeaumontAlberta                                                              6
ChillumPrince George's CountyMaryland                                        6
Logan LakeBritish Columbia                                                   5
EnderbyBritish Columbia                                                      5
Hillcrest HeightsPrince George's CountyMaryland                              5
Red DeerAlberta                                                              5
AmherstburgOntario                                                           5
HopeBritish Columbia                                                         5
GimliManitoba                                                                5
Ciudad JuarezChihuahua                                                       4
San Andres Playa Encantada (El Podrido)Acapulco de JuarezGuerrero            4
Friendship VillageMontgomery CountyMaryland                                  4
DartmouthNova Scotia                                                         4
OkanaganBritish Columbia                                                     4
OrangevilleOntario                                                           4
St. CatharinesRegional Municipality of NiagaraOntario                        4
AirdrieAlberta                                                               4
KingstonOntario                                                              4
Atuona                                                                       4
AximWestern                                                                  4
SicamousBritish Columbia                                                     4
BrantfordOntario                                                             4
Fort McMurrayAlberta                                                         3
CanmoreAlberta                                                               3
CobourgOntario                                                               3
Chevy Chase VillageMontgomery CountyMaryland                                 3
Grand-LahouLagunes                                                           3
LeducAlberta                                                                 3
WestlockAlberta                                                              3
Villa RotariaTecpan de GaleanaGuerrero                                       3
St. John'sNewfoundland and Labrador                                          3
Niagara FallsOntario                                                         3
OleshnykVynohradiv RaionZakarpattia                                          3
CollingwoodOntario                                                           3
ReginaSaskatchewan                                                           3
DelawareOntario                                                              3
Moose JawSaskatchewan                                                        3
MonroviaMontserrado                                                          3
Burns LakeBritish Columbia                                                   3
ThoroldOntario                                                               3
AncasterOntario                                                              3
AngusOntario                                                                 3
GatineauOutaouaisQuebec                                                      3
InnisfilOntario                                                              3
HoustonBritish Columbia                                                      3
KimberleyRegional District of East KootenayBritish Columbia                  3
BellevilleOntario                                                            3
NakuspBritish Columbia                                                       3
Santa Maria TonamecaOaxaca                                                   3
WaitangiChatham Islands                                                      3
Puerto NatalesMagallanes                                                     3
MonctonNew Brunswick                                                         3
EldoradoDepartamento de EldoradoMisiones                                     3
Palma SolaAlto Lucero de Gutierrez BarriosVeracruz                           3
CambridgeOntario                                                             3
Puerto Baquerizo MorenoGalapagos                                             3
Red LakeOntario                                                              3
KentvilleKings CountyNova Scotia                                             3
IxtapaGuerrero                                                               3
KeswickOntario                                                               3
FernieBritish Columbia                                                       2
Heroica MatamorosMatamorosTamaulipas                                         2
StrathmoreAlberta                                                            2
Cole HarbourNova Scotia                                                      2
Fort SaskatchewanAlberta                                                     2
LillooetBritish Columbia                                                     2
OxbowSaskatchewan                                                            2
TerraceBritish Columbia                                                      2
Santo Domingo ArmentaSanto Domingo ArmentaOaxaca                             2
Quinte WestOntario                                                           2
OkotoksAlberta                                                               2
AnlogaVolta                                                                  2
Corner BrookNewfoundland and Labrador                                        2
BuchananGrand Bassa                                                          2
Stony PlainAlberta                                                           2
Les CoteauxMonteregieQuebec                                                  2
Dawson CreekPeace River Regional DistrictBritish Columbia                    2
Port Saint JoeGulf CountyFlorida                                             2
Coahuayana ViejoMichoacan                                                    2
Vinas del SolMexicaliBaja California                                         2
Pincher CreekAlberta                                                         2
SmithersBritish Columbia                                                     2
CanutamaCanutamaAmazonas                                                     2
OrilliaOntario                                                               2
Sao Joao da BarraSao Joao Da BarraRio de Janeiro                             2
ImurisImurisSonora                                                           2
Spruce GroveAlberta                                                          2
NantonAlberta                                                                2
Las HiguerillasMatamorosTamaulipas                                           2
CrossfieldAlberta                                                            2
CasselmanOntario                                                             2
BracebridgeOntario                                                           2
Rocky Mountain HouseAlberta                                                  2
Doctor Domingo ChanonaVillafloresChiapas                                     2
AshcroftThompson-Nicola Regional DistrictBritish Columbia                    2
Jeffrey's BayCacadu District MunicipalityEastern Cape                        2
Medicine HatAlberta                                                          2
HamiltonHamilton city                                                        2
LloydminsterSaskatchewan                                                     2
ChinguettiAdrar                                                              2
UshuaiaTierra del Fuego                                                      2
Arraial do CaboArraial Do CaboRio de Janeiro                                 2
Dorp RinconBonaire                                                           2
La ReformaNuevo Leon                                                         2
StratfordOntario                                                             2
MinnedosaManitoba                                                            2
Greater NapaneeOntario                                                       2
East LondonBuffalo City Metropolitan MunicipalityEastern Cape                2
InvermereBritish Columbia                                                    2
Jasper Park LodgeAlberta                                                     2
SkateparkOntario                                                             2
Villa MorelosComonduBaja California Sur                                      2
NivervilleManitoba                                                           2
Santiago de CaoAscopeLa Libertad                                             2
PenholdAlberta                                                               2
Carleton PlaceOntario                                                        2
Rio LagartosYucatan                                                          2
Fairmount HeightsPrince George's CountyMaryland                              2

In order to fill in the remaining weather, let's make another column 'loc1' which combines 'county' and 'state'.

In [109]:
df['loc1'] = df['city'] + df['county'] + df['state']

In [110]:
print(df['loc1'][df['weather'].isnull()].value_counts())
print(len(df['loc1'][df['weather'].isnull()].value_counts()))

New WestminsterBritish Columbia                                           2682
LangleyBritish Columbia                                                   1845
SurreyBritish Columbia                                                    1728
CourtenayBritish Columbia                                                 1599
RichmondBritish Columbia                                                  1360
VancouverBritish Columbia                                                 1306
North VancouverFraser Valley Regional DistrictBritish Columbia            1218
BurnabyBritish Columbia                                                   1153
Port MoodyBritish Columbia                                                1002
NanaimoBritish Columbia                                                    949
Campbell RiverBritish Columbia                                             894
VictoriaBritish Columbia                                                   729
LadnerBritish Columbia                                                     658
AldergroveBritish Columbia                                                 576
ParksvilleRegional District of NanaimoBritish Columbia                     444
DeltaBritish Columbia                                                      419
West EndBritish Columbia                                                   418
CoquitlamBritish Columbia                                                  383
ScarboroughOntario                                                         368
KelownaBritish Columbia                                                    340
AbbotsfordBritish Columbia                                                 310
ChilliwackFraser Valley Regional DistrictBritish Columbia                  294
ConcordOntario                                                             284
TorontoOntario                                                             280
White RockGreater Vancouver Regional DistrictBritish Columbia              264
EtobicokeOntario                                                           200
BramptonOntario                                                            193
SecheltSunshine Coast Regional DistrictBritish Columbia                    189
AjaxOntario                                                                177
KamloopsBritish Columbia                                                   169
Walnut GroveBritish Columbia                                               167
Maple RidgeBritish Columbia                                                159
CalgaryAlberta                                                             149
GibsonsSunshine Coast Regional DistrictBritish Columbia                    133
OshawaOntario                                                              131
PentictonBritish Columbia                                                  109
Pitt MeadowsBritish Columbia                                               108
Lions BayGreater Vancouver Regional DistrictBritish Columbia               101
MississaugaOntario                                                          97
Port AlberniBritish Columbia                                                89
TofinoRegional District of Alberni-ClayoquotBritish Columbia                89
West KelownaBritish Columbia                                                89
CranbrookBritish Columbia                                                   86
EdmontonAlberta                                                             79
WhistlerBritish Columbia                                                    79
VernonRegional District of North OkanaganBritish Columbia                   77
Oak BayBritish Columbia                                                     76
DuncanBritish Columbia                                                      69
AgassizBritish Columbia                                                     69
Salmon ArmBritish Columbia                                                  68
VaughanOntario                                                              65
North SaanichBritish Columbia                                               59
LadysmithCowichan Valley Regional DistrictBritish Columbia                  58
CumberlandBritish Columbia                                                  54
HamiltonOntario                                                             54
ColwoodBritish Columbia                                                     53
Powell RiverPowell River Regional DistrictBritish Columbia                  53
MarkhamOntario                                                              52
WillowdaleOntario                                                           51
Richmond HillYorkOntario                                                    49
OsoyoosBritish Columbia                                                     49
West VancouverBritish Columbia                                              46
LangfordBritish Columbia                                                    44
Prince GeorgeBritish Columbia                                               37
WinnipegManitoba                                                            35
NewmarketOntario                                                            34
Edinburgh of the Seven SeasTristan da Cunha                                 31
MiltonHaltonOntario                                                         30
Capitol HeightsPrince George's CountyMaryland                               30
North CowichanBritish Columbia                                              30
Bowen IslandGreater Vancouver Regional DistrictBritish Columbia             30
OliverBritish Columbia                                                      29
Cache CreekBritish Columbia                                                 28
Williams LakeBritish Columbia                                               28
BurlingtonOntario                                                           25
CastlegarBritish Columbia                                                   25
OakvilleOntario                                                             22
NelsonBritish Columbia                                                      22
North YorkOntario                                                           21
Puerto VillamilCanton IsabelaGalapagos                                      21
Los AchotesZihuatanejo de AzuetaGuerrero                                    20
IngersollOntario                                                            19
AnmoreGreater Vancouver Regional DistrictBritish Columbia                   19
PeachlandBritish Columbia                                                   18
Belleair BeachPinellas CountyFlorida                                        16
HalifaxNova Scotia                                                          16
ChaseBritish Columbia                                                       16
SaskatoonSaskatchewan                                                       16
Gjoa HavenNunavut                                                           15
ChestermereAlberta                                                          15
SummerlandBritish Columbia                                                  15
ThompsonManitoba                                                            14
LumbyBritish Columbia                                                       14
WhitehorseYukon                                                             14
San PatricioJalisco                                                         13
Grytviken                                                                   13
KitchenerOntario                                                            12
Ostrov Paskhi                                                               12
PembertonBritish Columbia                                                   12
St. AlbertAlberta                                                           12
Thunder BayThunder Bay DistrictOntario                                      12
MerrittBritish Columbia                                                     12
ArmstrongBritish Columbia                                                   11
TrailBritish Columbia                                                       10
TaberAlberta                                                                10
Telchac PuertoYucatan                                                       10
SelkirkManitoba                                                             10
OttawaOntario                                                               10
GlassmanorPrince George's CountyMaryland                                    10
JamestownSaint Helena                                                       10
Hanga RoaValparaiso                                                          9
KodiakKodiak Island BoroughAlaska                                            9
RevelstokeBritish Columbia                                                   9
PickeringOntario                                                             9
OmemeeOntario                                                                8
BarrieOntario                                                                8
Bradford West GwillimburyOntario                                             8
Sherwood ParkAlberta                                                         8
Lake CowichanBritish Columbia                                                8
GuelphWellington CountyOntario                                               7
MetchosinBritish Columbia                                                    7
BanffAlberta                                                                 7
WellandOntario                                                               7
LethbridgeAlberta                                                            7
Bells CornersOntario                                                         7
PeterboroughOntario                                                          7
LondonOntario                                                                7
Brisas de ZicatelaSanta Maria ColotepecOaxaca                                7
QuesnelBritish Columbia                                                      6
WaterlooOntario                                                              6
UclueletRegional District of Alberni-ClayoquotBritish Columbia               6
KitimatBritish Columbia                                                      6
HeadingleyManitoba                                                           6
RosslandBritish Columbia                                                     6
Rankin InletNunavut                                                          6
BeaumontAlberta                                                              6
ChillumPrince George's CountyMaryland                                        6
Logan LakeBritish Columbia                                                   5
EnderbyBritish Columbia                                                      5
Hillcrest HeightsPrince George's CountyMaryland                              5
Red DeerAlberta                                                              5
AmherstburgOntario                                                           5
HopeBritish Columbia                                                         5
GimliManitoba                                                                5
Ciudad JuarezChihuahua                                                       4
San Andres Playa Encantada (El Podrido)Acapulco de JuarezGuerrero            4
Friendship VillageMontgomery CountyMaryland                                  4
DartmouthNova Scotia                                                         4
OkanaganBritish Columbia                                                     4
OrangevilleOntario                                                           4
St. CatharinesRegional Municipality of NiagaraOntario                        4
AirdrieAlberta                                                               4
KingstonOntario                                                              4
Atuona                                                                       4
AximWestern                                                                  4
SicamousBritish Columbia                                                     4
BrantfordOntario                                                             4
Fort McMurrayAlberta                                                         3
CanmoreAlberta                                                               3
CobourgOntario                                                               3
Chevy Chase VillageMontgomery CountyMaryland                                 3
Grand-LahouLagunes                                                           3
LeducAlberta                                                                 3
WestlockAlberta                                                              3
Villa RotariaTecpan de GaleanaGuerrero                                       3
St. John'sNewfoundland and Labrador                                          3
Niagara FallsOntario                                                         3
OleshnykVynohradiv RaionZakarpattia                                          3
CollingwoodOntario                                                           3
ReginaSaskatchewan                                                           3
DelawareOntario                                                              3
Moose JawSaskatchewan                                                        3
MonroviaMontserrado                                                          3
Burns LakeBritish Columbia                                                   3
ThoroldOntario                                                               3
AncasterOntario                                                              3
AngusOntario                                                                 3
GatineauOutaouaisQuebec                                                      3
InnisfilOntario                                                              3
HoustonBritish Columbia                                                      3
KimberleyRegional District of East KootenayBritish Columbia                  3
BellevilleOntario                                                            3
NakuspBritish Columbia                                                       3
Santa Maria TonamecaOaxaca                                                   3
WaitangiChatham Islands                                                      3
Puerto NatalesMagallanes                                                     3
MonctonNew Brunswick                                                         3
EldoradoDepartamento de EldoradoMisiones                                     3
Palma SolaAlto Lucero de Gutierrez BarriosVeracruz                           3
CambridgeOntario                                                             3
Puerto Baquerizo MorenoGalapagos                                             3
Red LakeOntario                                                              3
KentvilleKings CountyNova Scotia                                             3
IxtapaGuerrero                                                               3
KeswickOntario                                                               3
FernieBritish Columbia                                                       2
Heroica MatamorosMatamorosTamaulipas                                         2
StrathmoreAlberta                                                            2
Cole HarbourNova Scotia                                                      2
Fort SaskatchewanAlberta                                                     2
LillooetBritish Columbia                                                     2
OxbowSaskatchewan                                                            2
TerraceBritish Columbia                                                      2
Santo Domingo ArmentaSanto Domingo ArmentaOaxaca                             2
Quinte WestOntario                                                           2
OkotoksAlberta                                                               2
AnlogaVolta                                                                  2
Corner BrookNewfoundland and Labrador                                        2
BuchananGrand Bassa                                                          2
Stony PlainAlberta                                                           2
Les CoteauxMonteregieQuebec                                                  2
Dawson CreekPeace River Regional DistrictBritish Columbia                    2
Port Saint JoeGulf CountyFlorida                                             2
Coahuayana ViejoMichoacan                                                    2
Vinas del SolMexicaliBaja California                                         2
Pincher CreekAlberta                                                         2
SmithersBritish Columbia                                                     2
CanutamaCanutamaAmazonas                                                     2
OrilliaOntario                                                               2
Sao Joao da BarraSao Joao Da BarraRio de Janeiro                             2
ImurisImurisSonora                                                           2
Spruce GroveAlberta                                                          2
NantonAlberta                                                                2
Las HiguerillasMatamorosTamaulipas                                           2
CrossfieldAlberta                                                            2
CasselmanOntario                                                             2
BracebridgeOntario                                                           2
Rocky Mountain HouseAlberta                                                  2
Doctor Domingo ChanonaVillafloresChiapas                                     2
AshcroftThompson-Nicola Regional DistrictBritish Columbia                    2
Jeffrey's BayCacadu District MunicipalityEastern Cape                        2
Medicine HatAlberta                                                          2
HamiltonHamilton city                                                        2
LloydminsterSaskatchewan                                                     2
ChinguettiAdrar                                                              2
UshuaiaTierra del Fuego                                                      2
Arraial do CaboArraial Do CaboRio de Janeiro                                 2
Dorp RinconBonaire                                                           2
La ReformaNuevo Leon                                                         2
StratfordOntario                                                             2
MinnedosaManitoba                                                            2
Greater NapaneeOntario                                                       2
East LondonBuffalo City Metropolitan MunicipalityEastern Cape                2
InvermereBritish Columbia                                                    2
Jasper Park LodgeAlberta                                                     2
SkateparkOntario                                                             2
Villa MorelosComonduBaja California Sur                                      2
NivervilleManitoba                                                           2
Santiago de CaoAscopeLa Libertad                                             2
PenholdAlberta                                                               2
Carleton PlaceOntario                                                        2
Rio LagartosYucatan                                                          2
Fairmount HeightsPrince George's CountyMaryland                              2

In [111]:
i=0
a = df['loc1'][df['weather'].isnull()].value_counts().index
  
for i in tqdm(range(0,454)):
    try:
        df.loc[((df['loc1'].str.contains(a[i]))
                & (df['weather'].isnull())),'weather']=df['weather'][df['loc1'].str.contains(a[i])].value_counts().index[0]
        
    except:
        pass

100%|██████████| 454/454 [01:29<00:00,  5.09it/s]

In [112]:
print(df['loc1'][df['weather'].isnull()].value_counts())
print(len(df['loc1'][df['weather'].isnull()].value_counts()))

New WestminsterBritish Columbia                                           2682
LangleyBritish Columbia                                                   1845
SurreyBritish Columbia                                                    1728
CourtenayBritish Columbia                                                 1599
RichmondBritish Columbia                                                  1360
VancouverBritish Columbia                                                 1306
North VancouverFraser Valley Regional DistrictBritish Columbia            1218
BurnabyBritish Columbia                                                   1153
Port MoodyBritish Columbia                                                1002
NanaimoBritish Columbia                                                    949
Campbell RiverBritish Columbia                                             894
VictoriaBritish Columbia                                                   729
LadnerBritish Columbia                                                     658
AldergroveBritish Columbia                                                 576
ParksvilleRegional District of NanaimoBritish Columbia                     444
DeltaBritish Columbia                                                      419
West EndBritish Columbia                                                   418
CoquitlamBritish Columbia                                                  383
ScarboroughOntario                                                         368
KelownaBritish Columbia                                                    340
AbbotsfordBritish Columbia                                                 310
ChilliwackFraser Valley Regional DistrictBritish Columbia                  294
ConcordOntario                                                             284
TorontoOntario                                                             280
White RockGreater Vancouver Regional DistrictBritish Columbia              264
EtobicokeOntario                                                           200
BramptonOntario                                                            193
SecheltSunshine Coast Regional DistrictBritish Columbia                    189
AjaxOntario                                                                177
KamloopsBritish Columbia                                                   169
Walnut GroveBritish Columbia                                               167
Maple RidgeBritish Columbia                                                159
CalgaryAlberta                                                             149
GibsonsSunshine Coast Regional DistrictBritish Columbia                    133
OshawaOntario                                                              131
PentictonBritish Columbia                                                  109
Pitt MeadowsBritish Columbia                                               108
Lions BayGreater Vancouver Regional DistrictBritish Columbia               101
MississaugaOntario                                                          97
Port AlberniBritish Columbia                                                89
TofinoRegional District of Alberni-ClayoquotBritish Columbia                89
West KelownaBritish Columbia                                                89
CranbrookBritish Columbia                                                   86
EdmontonAlberta                                                             79
WhistlerBritish Columbia                                                    79
VernonRegional District of North OkanaganBritish Columbia                   77
Oak BayBritish Columbia                                                     76
DuncanBritish Columbia                                                      69
AgassizBritish Columbia                                                     69
Salmon ArmBritish Columbia                                                  68
VaughanOntario                                                              65
North SaanichBritish Columbia                                               59
LadysmithCowichan Valley Regional DistrictBritish Columbia                  58
CumberlandBritish Columbia                                                  54
HamiltonOntario                                                             54
ColwoodBritish Columbia                                                     53
Powell RiverPowell River Regional DistrictBritish Columbia                  53
MarkhamOntario                                                              52
WillowdaleOntario                                                           51
Richmond HillYorkOntario                                                    49
OsoyoosBritish Columbia                                                     49
West VancouverBritish Columbia                                              46
LangfordBritish Columbia                                                    44
Prince GeorgeBritish Columbia                                               37
WinnipegManitoba                                                            35
NewmarketOntario                                                            34
Edinburgh of the Seven SeasTristan da Cunha                                 31
MiltonHaltonOntario                                                         30
Capitol HeightsPrince George's CountyMaryland                               30
North CowichanBritish Columbia                                              30
Bowen IslandGreater Vancouver Regional DistrictBritish Columbia             30
OliverBritish Columbia                                                      29
Cache CreekBritish Columbia                                                 28
Williams LakeBritish Columbia                                               28
BurlingtonOntario                                                           25
CastlegarBritish Columbia                                                   25
OakvilleOntario                                                             22
NelsonBritish Columbia                                                      22
North YorkOntario                                                           21
Puerto VillamilCanton IsabelaGalapagos                                      21
Los AchotesZihuatanejo de AzuetaGuerrero                                    20
IngersollOntario                                                            19
AnmoreGreater Vancouver Regional DistrictBritish Columbia                   19
PeachlandBritish Columbia                                                   18
Belleair BeachPinellas CountyFlorida                                        16
HalifaxNova Scotia                                                          16
ChaseBritish Columbia                                                       16
SaskatoonSaskatchewan                                                       16
Gjoa HavenNunavut                                                           15
ChestermereAlberta                                                          15
SummerlandBritish Columbia                                                  15
ThompsonManitoba                                                            14
LumbyBritish Columbia                                                       14
WhitehorseYukon                                                             14
San PatricioJalisco                                                         13
Grytviken                                                                   13
KitchenerOntario                                                            12
Ostrov Paskhi                                                               12
PembertonBritish Columbia                                                   12
St. AlbertAlberta                                                           12
Thunder BayThunder Bay DistrictOntario                                      12
MerrittBritish Columbia                                                     12
ArmstrongBritish Columbia                                                   11
TrailBritish Columbia                                                       10
TaberAlberta                                                                10
Telchac PuertoYucatan                                                       10
SelkirkManitoba                                                             10
OttawaOntario                                                               10
GlassmanorPrince George's CountyMaryland                                    10
JamestownSaint Helena                                                       10
Hanga RoaValparaiso                                                          9
KodiakKodiak Island BoroughAlaska                                            9
RevelstokeBritish Columbia                                                   9
PickeringOntario                                                             9
OmemeeOntario                                                                8
BarrieOntario                                                                8
Bradford West GwillimburyOntario                                             8
Sherwood ParkAlberta                                                         8
Lake CowichanBritish Columbia                                                8
GuelphWellington CountyOntario                                               7
MetchosinBritish Columbia                                                    7
BanffAlberta                                                                 7
WellandOntario                                                               7
LethbridgeAlberta                                                            7
Bells CornersOntario                                                         7
PeterboroughOntario                                                          7
LondonOntario                                                                7
Brisas de ZicatelaSanta Maria ColotepecOaxaca                                7
QuesnelBritish Columbia                                                      6
WaterlooOntario                                                              6
UclueletRegional District of Alberni-ClayoquotBritish Columbia               6
KitimatBritish Columbia                                                      6
HeadingleyManitoba                                                           6
RosslandBritish Columbia                                                     6
Rankin InletNunavut                                                          6
BeaumontAlberta                                                              6
ChillumPrince George's CountyMaryland                                        6
Logan LakeBritish Columbia                                                   5
EnderbyBritish Columbia                                                      5
Hillcrest HeightsPrince George's CountyMaryland                              5
Red DeerAlberta                                                              5
AmherstburgOntario                                                           5
HopeBritish Columbia                                                         5
GimliManitoba                                                                5
Ciudad JuarezChihuahua                                                       4
San Andres Playa Encantada (El Podrido)Acapulco de JuarezGuerrero            4
Friendship VillageMontgomery CountyMaryland                                  4
DartmouthNova Scotia                                                         4
OkanaganBritish Columbia                                                     4
OrangevilleOntario                                                           4
St. CatharinesRegional Municipality of NiagaraOntario                        4
AirdrieAlberta                                                               4
KingstonOntario                                                              4
Atuona                                                                       4
AximWestern                                                                  4
SicamousBritish Columbia                                                     4
BrantfordOntario                                                             4
Fort McMurrayAlberta                                                         3
CanmoreAlberta                                                               3
CobourgOntario                                                               3
Chevy Chase VillageMontgomery CountyMaryland                                 3
Grand-LahouLagunes                                                           3
LeducAlberta                                                                 3
WestlockAlberta                                                              3
Villa RotariaTecpan de GaleanaGuerrero                                       3
St. John'sNewfoundland and Labrador                                          3
Niagara FallsOntario                                                         3
OleshnykVynohradiv RaionZakarpattia                                          3
CollingwoodOntario                                                           3
ReginaSaskatchewan                                                           3
DelawareOntario                                                              3
Moose JawSaskatchewan                                                        3
MonroviaMontserrado                                                          3
Burns LakeBritish Columbia                                                   3
ThoroldOntario                                                               3
AncasterOntario                                                              3
AngusOntario                                                                 3
GatineauOutaouaisQuebec                                                      3
InnisfilOntario                                                              3
HoustonBritish Columbia                                                      3
KimberleyRegional District of East KootenayBritish Columbia                  3
BellevilleOntario                                                            3
NakuspBritish Columbia                                                       3
Santa Maria TonamecaOaxaca                                                   3
WaitangiChatham Islands                                                      3
Puerto NatalesMagallanes                                                     3
MonctonNew Brunswick                                                         3
EldoradoDepartamento de EldoradoMisiones                                     3
Palma SolaAlto Lucero de Gutierrez BarriosVeracruz                           3
CambridgeOntario                                                             3
Puerto Baquerizo MorenoGalapagos                                             3
Red LakeOntario                                                              3
KentvilleKings CountyNova Scotia                                             3
IxtapaGuerrero                                                               3
KeswickOntario                                                               3
FernieBritish Columbia                                                       2
Heroica MatamorosMatamorosTamaulipas                                         2
StrathmoreAlberta                                                            2
Cole HarbourNova Scotia                                                      2
Fort SaskatchewanAlberta                                                     2
LillooetBritish Columbia                                                     2
OxbowSaskatchewan                                                            2
TerraceBritish Columbia                                                      2
Santo Domingo ArmentaSanto Domingo ArmentaOaxaca                             2
Quinte WestOntario                                                           2
OkotoksAlberta                                                               2
AnlogaVolta                                                                  2
Corner BrookNewfoundland and Labrador                                        2
BuchananGrand Bassa                                                          2
Stony PlainAlberta                                                           2
Les CoteauxMonteregieQuebec                                                  2
Dawson CreekPeace River Regional DistrictBritish Columbia                    2
Port Saint JoeGulf CountyFlorida                                             2
Coahuayana ViejoMichoacan                                                    2
Vinas del SolMexicaliBaja California                                         2
Pincher CreekAlberta                                                         2
SmithersBritish Columbia                                                     2
CanutamaCanutamaAmazonas                                                     2
OrilliaOntario                                                               2
Sao Joao da BarraSao Joao Da BarraRio de Janeiro                             2
ImurisImurisSonora                                                           2
Spruce GroveAlberta                                                          2
NantonAlberta                                                                2
Las HiguerillasMatamorosTamaulipas                                           2
CrossfieldAlberta                                                            2
CasselmanOntario                                                             2
BracebridgeOntario                                                           2
Rocky Mountain HouseAlberta                                                  2
Doctor Domingo ChanonaVillafloresChiapas                                     2
AshcroftThompson-Nicola Regional DistrictBritish Columbia                    2
Jeffrey's BayCacadu District MunicipalityEastern Cape                        2
Medicine HatAlberta                                                          2
HamiltonHamilton city                                                        2
LloydminsterSaskatchewan                                                     2
ChinguettiAdrar                                                              2
UshuaiaTierra del Fuego                                                      2
Arraial do CaboArraial Do CaboRio de Janeiro                                 2
Dorp RinconBonaire                                                           2
La ReformaNuevo Leon                                                         2
StratfordOntario                                                             2
MinnedosaManitoba                                                            2
Greater NapaneeOntario                                                       2
East LondonBuffalo City Metropolitan MunicipalityEastern Cape                2
InvermereBritish Columbia                                                    2
Jasper Park LodgeAlberta                                                     2
SkateparkOntario                                                             2
Villa MorelosComonduBaja California Sur                                      2
NivervilleManitoba                                                           2
Santiago de CaoAscopeLa Libertad                                             2
PenholdAlberta                                                               2
Carleton PlaceOntario                                                        2
Rio LagartosYucatan                                                          2
Fairmount HeightsPrince George's CountyMaryland                              2

In order to fill in the remaining null-valued weather, let's fill in the remaining by 'state'.

In [113]:
i=0
a = df['state'][df['weather'].isnull()].value_counts().index
  
for i in tqdm(range(0,454)):
    try:
        df.loc[((df['state'].str.contains(a[i]))
                & (df['weather'].isnull())),'weather']=df['weather'][df['state'].str.contains(a[i])].value_counts().index[0]
        
    except:
        pass

100%|██████████| 454/454 [00:49<00:00,  9.19it/s]

In [114]:
print(df['state'][df['weather'].isnull()].value_counts())
print(len(df['state'][df['weather'].isnull()].value_counts()))

Series([], Name: state, dtype: int64)
0

Let's fill in 'youSaveSpend'.

In [115]:
df['make'][df['youSaveSpend'].isnull()].value_counts()

1500                                     6965
f-150                                    6890
silverado 1500                           4938
2500                                     3746
escape                                   3381
                                         ...
m35 awd 4dr sedan                           1
olds rocket 88 coupe                        1
f450 super duty regular cab & chassis       1
2011 town & country touring van             1
canyon slt 4x4 half ton gas                 1
Name: make, Length: 46811, dtype: int64

In [116]:
i=0
a = df['make'][df['youSaveSpend'].isnull()].value_counts().index
  
for i in tqdm(range(0,46812)):
    try:
        df.loc[((df['make'].str.contains(a[i]))
                & (df['youSaveSpend'].isnull())),'youSaveSpend']=df['youSaveSpend'][df['make'].str.contains(a[i])].value_counts().index[0]
        
    except:
        pass

100%|██████████| 46812/46812 [12:04:25<00:00,  1.08it/s]

In [117]:
print(df['make'][df['youSaveSpend'].isnull()].value_counts())
print(len(df['make'][df['youSaveSpend'].isnull()].value_counts()))

Series([], Name: make, dtype: int64)
0

In [118]:
((df.isnull().sum()/len(df)).sort_values(ascending = False)*100).astype(float)

condition       28.509139
title_status     0.058917
fuel             0.031837
transmission     0.002745
loc1             0.000000
year             0.000000
manufacturer     0.000000
make             0.000000
cylinders        0.000000
odometer         0.000000
drive            0.000000
loc              0.000000
size             0.000000
type             0.000000
weather          0.000000
city             0.000000
state            0.000000
county           0.000000
VClass           0.000000
youSaveSpend     0.000000
price            0.000000
dtype: float64

Let's look into 'condition' and 'title_status' closely.

In [119]:
df['condition'].value_counts()

excellent    166873
good         151077
like new      41487
fair          26848
new            2424
salvage        2010
Name: condition, dtype: int64

In [120]:
df['title_status'].value_counts()

clean         507837
rebuilt        16631
salvage        11986
lien            7968
missing         1267
parts only       519
Name: title_status, dtype: int64

In [121]:
df['title_status'][df['condition']=='excellent'].value_counts()

clean         154130
rebuilt         6011
lien            3383
salvage         3226
missing           93
parts only        30
Name: title_status, dtype: int64

In [122]:
df['title_status'][df['condition']=='good'].value_counts()

clean         140491
rebuilt         4322
salvage         3536
lien            2178
missing          430
parts only       118
Name: title_status, dtype: int64

In [123]:
df['title_status'][df['condition']=='like new'].value_counts()

clean         36530
rebuilt        2395
lien           1329
salvage        1191
missing          32
parts only       10
Name: title_status, dtype: int64

In [124]:
df['title_status'][df['condition']=='fair'].value_counts()

clean         24738
salvage         794
rebuilt         597
missing         410
lien            216
parts only       93
Name: title_status, dtype: int64

In [125]:
df['title_status'][df['condition']=='new'].value_counts()

clean         2143
lien           113
rebuilt         92
salvage         68
parts only       6
missing          2
Name: title_status, dtype: int64

In [126]:
df['title_status'][df['condition']=='salvage'].value_counts()

salvage       865
clean         833
parts only    129
missing        91
rebuilt        79
lien           13
Name: title_status, dtype: int64

In [127]:
df['condition'][df['title_status']=='clean'].value_counts()

excellent    154130
good         140491
like new      36530
fair          24738
new            2143
salvage         833
Name: condition, dtype: int64

In [128]:
df['condition'][df['title_status']=='rebuilt'].value_counts()

excellent    6011
good         4322
like new     2395
fair          597
new            92
salvage        79
Name: condition, dtype: int64

In [129]:
df['condition'][df['title_status']=='salvage'].value_counts()

good         3536
excellent    3226
like new     1191
salvage       865
fair          794
new            68
Name: condition, dtype: int64

In [130]:
df['condition'][df['title_status']=='lien'].value_counts()

excellent    3383
good         2178
like new     1329
fair          216
new           113
salvage        13
Name: condition, dtype: int64

In [131]:
df['condition'][df['title_status']=='missing'].value_counts()

good         430
fair         410
excellent     93
salvage       91
like new      32
new            2
Name: condition, dtype: int64

In [132]:
df['condition'][df['title_status']=='parts only'].value_counts()

salvage      129
good         118
fair          93
excellent     30
like new      10
new            6
Name: condition, dtype: int64

Let's drop 'condition' because all values in 'condition' are based on very subjective opinion from sellers.

In [133]:
df.drop(['condition'], axis = 1, inplace=True)

Let's add a new feature, 'usage_yr'.

In [134]:
df['year']=df['year'].astype(int)

In [135]:
df['year'].max()

2019

In [136]:
df['usage_yr']=df['year'].max()-df['year']
df.head()

,price,year,manufacturer,make,cylinders,fuel,odometer,title_status,transmission,drive,size,type,weather,city,state,county,VClass,youSaveSpend,loc,loc1,usage_yr
0,11900,2010,dodge,challenger se,6,gas,43600.0,clean,automatic,rwd,full-size,coupe,38.0,Harrisburg,South Dakota,Lincoln County,midsize cars,-5750.0,HarrisburgLincoln CountySouth Dakota,HarrisburgLincoln CountySouth Dakota,9
1,2800,2004,ford,taurus,6,gas,168591.0,clean,automatic,fwd,full-size,sedan,47.0,Sanborn,Iowa,O'Brien County,large cars,-2250.0,SanbornO'Brien CountyIowa,SanbornO'Brien CountyIowa,15
2,2800,2004,ford,taurus,6,gas,168591.0,clean,automatic,fwd,full-size,sedan,47.0,Sanborn,Iowa,O'Brien County,large cars,-2250.0,SanbornO'Brien CountyIowa,SanbornO'Brien CountyIowa,15
3,400,2001,pontiac,2001 grand prix,0,gas,217000.0,clean,automatic,fwd,full-size,sedan,47.0,Algona,Iowa,Kossuth County,midsize cars,-1750.0,AlgonaKossuth CountyIowa,AlgonaKossuth CountyIowa,18
4,9900,2007,gmc,yukon,8,gas,169000.0,clean,automatic,4wd,full-size,suv,38.0,Lennox,South Dakota,Lincoln County,standard pickup trucks 4wd,-5000.0,LennoxLincoln CountySouth Dakota,LennoxLincoln CountySouth Dakota,12

Let's drop another unnecessary columns such as 'loc' and 'loc1'.

In [ ]:
df.drop(['loc'], axis = 1, inplace=True)

In [ ]:
df.drop(['loc1'], axis = 1, inplace=True)

In [154]:
df.head()

,price,year,manufacturer,make,cylinders,fuel,odometer,title_status,transmission,drive,size,type,weather,city,state,county,VClass,youSaveSpend,usage_yr
0,11900,2010,dodge,challenger se,6,gas,43600,clean,automatic,rwd,full-size,coupe,38.0,Harrisburg,South Dakota,Lincoln County,midsize cars,-5750.0,9
1,2800,2004,ford,taurus,6,gas,168591,clean,automatic,fwd,full-size,sedan,47.0,Sanborn,Iowa,O'Brien County,large cars,-2250.0,15
2,2800,2004,ford,taurus,6,gas,168591,clean,automatic,fwd,full-size,sedan,47.0,Sanborn,Iowa,O'Brien County,large cars,-2250.0,15
3,400,2001,pontiac,2001 grand prix,0,gas,217000,clean,automatic,fwd,full-size,sedan,47.0,Algona,Iowa,Kossuth County,midsize cars,-1750.0,18
4,9900,2007,gmc,yukon,8,gas,169000,clean,automatic,4wd,full-size,suv,38.0,Lennox,South Dakota,Lincoln County,standard pickup trucks 4wd,-5000.0,12

Let's drop any rows with null values.

In [155]:
((df.isnull().sum()/len(df)).sort_values(ascending = False)*100).astype(float)

fuel            0.030574
transmission    0.002746
usage_yr        0.000000
year            0.000000
manufacturer    0.000000
make            0.000000
cylinders       0.000000
odometer        0.000000
title_status    0.000000
drive           0.000000
youSaveSpend    0.000000
size            0.000000
type            0.000000
weather         0.000000
city            0.000000
state           0.000000
county          0.000000
VClass          0.000000
price           0.000000
dtype: float64

In [156]:
df.drop(df[df['fuel'].isnull()].index, inplace=True)
df.drop(df[df['transmission'].isnull()].index, inplace=True)
((df.isnull().sum()/len(df)).sort_values(ascending = False)*100).astype(float)

usage_yr        0.0
transmission    0.0
year            0.0
manufacturer    0.0
make            0.0
cylinders       0.0
fuel            0.0
odometer        0.0
title_status    0.0
drive           0.0
youSaveSpend    0.0
size            0.0
type            0.0
weather         0.0
city            0.0
state           0.0
county          0.0
VClass          0.0
price           0.0
dtype: float64

In [157]:
df.head()

,price,year,manufacturer,make,cylinders,fuel,odometer,title_status,transmission,drive,size,type,weather,city,state,county,VClass,youSaveSpend,usage_yr
0,11900,2010,dodge,challenger se,6,gas,43600,clean,automatic,rwd,full-size,coupe,38.0,Harrisburg,South Dakota,Lincoln County,midsize cars,-5750.0,9
1,2800,2004,ford,taurus,6,gas,168591,clean,automatic,fwd,full-size,sedan,47.0,Sanborn,Iowa,O'Brien County,large cars,-2250.0,15
2,2800,2004,ford,taurus,6,gas,168591,clean,automatic,fwd,full-size,sedan,47.0,Sanborn,Iowa,O'Brien County,large cars,-2250.0,15
3,400,2001,pontiac,2001 grand prix,0,gas,217000,clean,automatic,fwd,full-size,sedan,47.0,Algona,Iowa,Kossuth County,midsize cars,-1750.0,18
4,9900,2007,gmc,yukon,8,gas,169000,clean,automatic,4wd,full-size,suv,38.0,Lennox,South Dakota,Lincoln County,standard pickup trucks 4wd,-5000.0,12

In [158]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 546028 entries, 0 to 546529
Data columns (total 19 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   price         546028 non-null  int32
 1   year          546028 non-null  int32
 2   manufacturer  546028 non-null  object
 3   make          546028 non-null  object
 4   cylinders     546028 non-null  int32
 5   fuel          546028 non-null  object
 6   odometer      546028 non-null  int32
 7   title_status  546028 non-null  object
 8   transmission  546028 non-null  object
 9   drive         546028 non-null  object
 10  size          546028 non-null  object
 11  type          546028 non-null  object
 12  weather       546028 non-null  float64
 13  city          546028 non-null  object
 14  state         546028 non-null  object
 15  county        546028 non-null  object
 16  VClass        546028 non-null  object
 17  youSaveSpend  546028 non-null  float64
 18  usage_yr      546028 non-null  int32
dtypes: float64(2), int32(5), object(12)
memory usage: 72.9+ MB

In [159]:
df.tail()

,price,year,manufacturer,make,cylinders,fuel,odometer,title_status,transmission,drive,size,type,weather,city,state,county,VClass,youSaveSpend,usage_yr
546525,25786,2014,chevrolet,silverado 1500,8,gas,55286,clean,automatic,4wd,full-size,pickup,52.0,Harrisonville,Missouri,Cass County,standard pickup trucks 4wd,-5000.0,5
546526,28991,2015,ford,f150 supercrew cab,6,gas,105123,clean,automatic,4wd,full-size,pickup,52.0,Harrisonville,Missouri,Cass County,compact cars,-1750.0,4
546527,25995,2015,ford,f150 supercrew cab,8,other,108142,clean,automatic,4wd,full-size,pickup,52.0,Harrisonville,Missouri,Cass County,compact cars,-1750.0,4
546528,40000,2006,ford,sterling,0,diesel,350000,clean,manual,fwd,full-size,truck,52.0,Bel-Nor,Missouri,Saint Louis County,midsize cars,-1500.0,13
546529,6995,2007,ram,1500,0,gas,197936,clean,manual,4wd,full-size,truck,52.0,Moscow Mills,Missouri,Lincoln County,standard pickup trucks 4wd,-5000.0,12

In [160]:
df.describe()

,price,year,cylinders,odometer,weather,youSaveSpend,usage_yr
count,5.460280e+05,546028.000000,546028.000000,5.460280e+05,546028.000000,546028.000000,546028.000000
mean,5.278034e+04,2006.751051,4.236550,1.164059e+05,51.721505,-2626.776924,12.248949
std,6.388294e+06,9.019246,2.999299,1.393407e+05,8.834278,2075.601889,9.019246
min,1.000000e+00,1900.000000,0.000000,0.000000e+00,29.000000,-13250.000000,0.000000
25%,3.800000e+03,2003.000000,0.000000,5.860000e+04,45.000000,-5000.000000,6.000000
50%,7.995000e+03,2008.000000,4.000000,1.098390e+05,51.000000,-1750.000000,11.000000
75%,1.598000e+04,2013.000000,6.000000,1.560000e+05,59.000000,-1000.000000,16.000000
max,1.500000e+09,2019.000000,12.000000,1.000000e+07,79.000000,3250.000000,119.000000

In [161]:
df.to_csv('UsedCarSellingInfoCraigslistNormalized.csv')

df['usage_yr'].hist()

df['price']=df['price'].astype(int)

df['odometer']=df['odometer'].astype(int)

df['weather']=df['weather'].astype(float)

df['weather'].hist()

df['odometer'].hist()

df['make'][df['odometer']==0].value_counts()

df['title_status'][df['odometer']==0].value_counts()

import seaborn as sns
corr = df.corr()
ax = sns.heatmap(
    corr, 
    vmin=-1, vmax=1, center=0,
    cmap=sns.diverging_palette(20, 220, n=200),
    square=True
)
ax.set_xticklabels(
    ax.get_xticklabels(),
    rotation=45,
    horizontalalignment='right'
);